@font-face {
  font-family: 'googlematerialdesign';
  src: url('../font/googlematerialdesign.eot?15689255');
  src: url('../font/googlematerialdesign.eot?15689255#iefix') format('embedded-opentype'),
       url('../font/googlematerialdesign.woff?15689255') format('woff'),
       url('../font/googlematerialdesign.ttf?15689255') format('truetype'),
       url('../font/googlematerialdesign.svg?15689255#googlematerialdesign') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'googlematerialdesign';
    src: url('../font/googlematerialdesign.svg?15689255#googlematerialdesign') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "googlematerialdesign";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-alert-add-alert:before { content: '\e800'; } /* '' */
.icon-action-announcement:before { content: '\e801'; } /* '' */
.icon-action-cached:before { content: '\e802'; } /* '' */
.icon-action-event:before { content: '\e803'; } /* '' */
.icon-action-grade:before { content: '\e804'; } /* '' */
.icon-action-language:before { content: '\e805'; } /* '' */
.icon-action-perm-data-setting:before { content: '\e806'; } /* '' */
.icon-action-perm-device-information:before { content: '\e807'; } /* '' */
.icon-action-launch:before { content: '\e808'; } /* '' */
.icon-action-group-work:before { content: '\e809'; } /* '' */
.icon-action-event-seat:before { content: '\e80a'; } /* '' */
.icon-action-card-giftcard:before { content: '\e80b'; } /* '' */
.icon-action-aspect-ratio:before { content: '\e80c'; } /* '' */
.icon-alert-error:before { content: '\e80d'; } /* '' */
.icon-alert-error-outline:before { content: '\e80e'; } /* '' */
.icon-action-assessment:before { content: '\e80f'; } /* '' */
.icon-action-card-membership:before { content: '\e810'; } /* '' */
.icon-action-exit-to-app:before { content: '\e811'; } /* '' */
.icon-action-help:before { content: '\e812'; } /* '' */
.icon-action-list:before { content: '\e813'; } /* '' */
.icon-action-perm-identity:before { content: '\e814'; } /* '' */
.icon-action-perm-media:before { content: '\e815'; } /* '' */
.icon-action-lock:before { content: '\e816'; } /* '' */
.icon-action-highlight-off:before { content: '\e817'; } /* '' */
.icon-action-card-travel:before { content: '\e818'; } /* '' */
.icon-action-assignment:before { content: '\e819'; } /* '' */
.icon-alert-warning:before { content: '\e81a'; } /* '' */
.icon-action-explore:before { content: '\e81b'; } /* '' */
.icon-action-perm-phone-msg:before { content: '\e81c'; } /* '' */
.icon-action-history:before { content: '\e81d'; } /* '' */
.icon-action-extension:before { content: '\e81e'; } /* '' */
.icon-action-lock-open:before { content: '\e81f'; } /* '' */
.icon-action-home:before { content: '\e820'; } /* '' */
.icon-action-perm-scan-wifi:before { content: '\e821'; } /* '' */
.icon-action-lock-outline:before { content: '\e822'; } /* '' */
.icon-action-face:before { content: '\e823'; } /* '' */
.icon-action-check-circle:before { content: '\e824'; } /* '' */
.icon-action-change-history:before { content: '\e825'; } /* '' */
.icon-action-assignment-ind:before { content: '\e826'; } /* '' */
.icon-action-3d-rotation:before { content: '\e827'; } /* '' */
.icon-action-accessibility:before { content: '\e828'; } /* '' */
.icon-action-assignment-late:before { content: '\e829'; } /* '' */
.icon-action-account-balance:before { content: '\e82a'; } /* '' */
.icon-action-assignment-return:before { content: '\e82b'; } /* '' */
.icon-action-hourglass-empty:before { content: '\e82c'; } /* '' */
.icon-action-favorite:before { content: '\e82d'; } /* '' */
.icon-action-chrome-reader-mode:before { content: '\e82e'; } /* '' */
.icon-action-loyalty:before { content: '\e82f'; } /* '' */
.icon-action-picture-in-picture:before { content: '\e830'; } /* '' */
.icon-action-play-for-work:before { content: '\e831'; } /* '' */
.icon-action-markunread-mailbox:before { content: '\e832'; } /* '' */
.icon-action-hourglass-full:before { content: '\e833'; } /* '' */
.icon-action-favorite-border:before { content: '\e834'; } /* '' */
.icon-action-class:before { content: '\e835'; } /* '' */
.icon-action-assignment-returned:before { content: '\e836'; } /* '' */
.icon-action-account-balance-wallet:before { content: '\e837'; } /* '' */
.icon-action-account-box:before { content: '\e838'; } /* '' */
.icon-action-polymer:before { content: '\e839'; } /* '' */
.icon-action-note-add:before { content: '\e83a'; } /* '' */
.icon-action-http:before { content: '\e83b'; } /* '' */
.icon-action-feedback:before { content: '\e83c'; } /* '' */
.icon-action-code:before { content: '\e83d'; } /* '' */
.icon-action-assignment-turned-in:before { content: '\e83e'; } /* '' */
.icon-action-account-circle:before { content: '\e83f'; } /* '' */
.icon-action-autorenew:before { content: '\e840'; } /* '' */
.icon-action-credit-card:before { content: '\e841'; } /* '' */
.icon-action-find-in-page:before { content: '\e842'; } /* '' */
.icon-action-https:before { content: '\e843'; } /* '' */
.icon-action-open-in-browser:before { content: '\e844'; } /* '' */
.icon-action-power-settings-new:before { content: '\e845'; } /* '' */
.icon-action-print:before { content: '\e846'; } /* '' */
.icon-action-info:before { content: '\e847'; } /* '' */
.icon-action-open-in-new:before { content: '\e848'; } /* '' */
.icon-action-find-replace:before { content: '\e849'; } /* '' */
.icon-action-dashboard:before { content: '\e84a'; } /* '' */
.icon-action-backup:before { content: '\e84b'; } /* '' */
.icon-action-add-shopping-cart:before { content: '\e84c'; } /* '' */
.icon-action-alarm:before { content: '\e84d'; } /* '' */
.icon-action-book:before { content: '\e84e'; } /* '' */
.icon-action-flight-land:before { content: '\e84f'; } /* '' */
.icon-action-info-outline:before { content: '\e850'; } /* '' */
.icon-action-open-with:before { content: '\e851'; } /* '' */
.icon-action-query-builder:before { content: '\e852'; } /* '' */
.icon-action-question-answer:before { content: '\e853'; } /* '' */
.icon-action-pageview:before { content: '\e854'; } /* '' */
.icon-action-input:before { content: '\e855'; } /* '' */
.icon-action-flight-takeoff:before { content: '\e856'; } /* '' */
.icon-action-description:before { content: '\e857'; } /* '' */
.icon-action-settings-input-antenna:before { content: '\e858'; } /* '' */
.icon-action-bookmark:before { content: '\e859'; } /* '' */
.icon-action-alarm-add:before { content: '\e85a'; } /* '' */
.icon-action-alarm-off:before { content: '\e85b'; } /* '' */
.icon-action-bookmark-border:before { content: '\e85c'; } /* '' */
.icon-action-dns:before { content: '\e85d'; } /* '' */
.icon-action-flip-to-back:before { content: '\e85e'; } /* '' */
.icon-action-invert-colors:before { content: '\e85f'; } /* '' */
.icon-action-payment:before { content: '\e860'; } /* '' */
.icon-action-receipt:before { content: '\e861'; } /* '' */
.icon-action-redeem:before { content: '\e862'; } /* '' */
.icon-action-perm-camera-maction-48px:before { content: '\e863'; } /* '' */
.icon-action-label:before { content: '\e864'; } /* '' */
.icon-action-flip-to-front:before { content: '\e865'; } /* '' */
.icon-action-done:before { content: '\e866'; } /* '' */
.icon-action-bug-report:before { content: '\e867'; } /* '' */
.icon-action-alarm-on:before { content: '\e868'; } /* '' */
.icon-action-android:before { content: '\e869'; } /* '' */
.icon-action-build:before { content: '\e86a'; } /* '' */
.icon-action-done-all:before { content: '\e86b'; } /* '' */
.icon-action-get-app:before { content: '\e86c'; } /* '' */
.icon-action-label-outline:before { content: '\e86d'; } /* '' */
.icon-action-perm-contact-calendar:before { content: '\e86e'; } /* '' */
.icon-action-report-problem:before { content: '\e86f'; } /* '' */
.icon-action-restore:before { content: '\e870'; } /* '' */
.icon-action-settings-phone:before { content: '\e871'; } /* '' */
.icon-action-swap-vertical-circle:before { content: '\e872'; } /* '' */
.icon-action-verified-user:before { content: '\e873'; } /* '' */
.icon-action-view-agenda:before { content: '\e874'; } /* '' */
.icon-action-system-update-alt:before { content: '\e875'; } /* '' */
.icon-action-settings-power:before { content: '\e876'; } /* '' */
.icon-action-room:before { content: '\e877'; } /* '' */
.icon-action-search:before { content: '\e878'; } /* '' */
.icon-action-settings-remote:before { content: '\e879'; } /* '' */
.icon-action-tab:before { content: '\e87a'; } /* '' */
.icon-action-view-array:before { content: '\e87b'; } /* '' */
.icon-action-view-carousel:before { content: '\e87c'; } /* '' */
.icon-action-settings-voice:before { content: '\e87d'; } /* '' */
.icon-action-settings:before { content: '\e87e'; } /* '' */
.icon-action-settings-applications:before { content: '\e87f'; } /* '' */
.icon-action-shop:before { content: '\e880'; } /* '' */
.icon-action-theaters:before { content: '\e881'; } /* '' */
.icon-action-view-column:before { content: '\e882'; } /* '' */
.icon-action-view-day:before { content: '\e883'; } /* '' */
.icon-action-thumb-down:before { content: '\e884'; } /* '' */
.icon-action-shopping-basket:before { content: '\e885'; } /* '' */
.icon-action-settings-backup-restore:before { content: '\e886'; } /* '' */
.icon-action-settings-bluetooth:before { content: '\e887'; } /* '' */
.icon-action-shopping-cart:before { content: '\e888'; } /* '' */
.icon-action-thumbs-up-down:before { content: '\e889'; } /* '' */
.icon-action-view-headline:before { content: '\e88a'; } /* '' */
.icon-action-view-list:before { content: '\e88b'; } /* '' */
.icon-action-thumb-up:before { content: '\e88c'; } /* '' */
.icon-action-shop-two:before { content: '\e88d'; } /* '' */
.icon-action-settings-brightness:before { content: '\e88e'; } /* '' */
.icon-action-settings-cell:before { content: '\e88f'; } /* '' */
.icon-action-speaker-notes:before { content: '\e890'; } /* '' */
.icon-action-toc:before { content: '\e891'; } /* '' */
.icon-action-view-module:before { content: '\e892'; } /* '' */
.icon-action-settings-input-svideo:before { content: '\e893'; } /* '' */
.icon-action-today:before { content: '\e894'; } /* '' */
.icon-action-spellcheck:before { content: '\e895'; } /* '' */
.icon-action-settings-input-composite:before { content: '\e896'; } /* '' */
.icon-action-stars:before { content: '\e897'; } /* '' */
.icon-action-toll:before { content: '\e898'; } /* '' */
.icon-action-view-stream:before { content: '\e899'; } /* '' */
.icon-action-settings-input-component:before { content: '\e89a'; } /* '' */
.icon-action-view-week:before { content: '\e89b'; } /* '' */
.icon-action-track-changes:before { content: '\e89c'; } /* '' */
.icon-action-store:before { content: '\e89d'; } /* '' */
.icon-action-swap-horiz:before { content: '\e89e'; } /* '' */
.icon-action-subject:before { content: '\e89f'; } /* '' */
.icon-action-translate:before { content: '\e8a0'; } /* '' */
.icon-action-visibility:before { content: '\e8a1'; } /* '' */
.icon-action-visibility-off:before { content: '\e8a2'; } /* '' */
.icon-action-trending-down:before { content: '\e8a3'; } /* '' */
.icon-action-supervisor-account:before { content: '\e8a4'; } /* '' */
.icon-action-delete:before { content: '\e8a5'; } /* '' */
.icon-action-settings-input-hdmi:before { content: '\e8a6'; } /* '' */
.icon-action-trending-flat:before { content: '\e8a7'; } /* '' */
.icon-action-work:before { content: '\e8a8'; } /* '' */
.icon-action-youtube-searched-for:before { content: '\e8a9'; } /* '' */
.icon-action-trending-up:before { content: '\e8aa'; } /* '' */
.icon-action-swap-vert:before { content: '\e8ab'; } /* '' */
.icon-action-settings-ethernet:before { content: '\e8ac'; } /* '' */
.icon-action-view-quilt:before { content: '\e8ad'; } /* '' */
.icon-action-tab-unselected:before { content: '\e8ae'; } /* '' */
.icon-action-settings-overscan:before { content: '\e8af'; } /* '' */
.icon-av-airplay:before { content: '\e8b0'; } /* '' */
.icon-av-album:before { content: '\e8b1'; } /* '' */
.icon-av-av-timer:before { content: '\e8b2'; } /* '' */
.icon-av-closed-caption:before { content: '\e8b3'; } /* '' */
.icon-av-equalizer:before { content: '\e8b4'; } /* '' */
.icon-av-explicit:before { content: '\e8b5'; } /* '' */
.icon-av-fast-forward:before { content: '\e8b6'; } /* '' */
.icon-av-fast-rewind:before { content: '\e8b7'; } /* '' */
.icon-av-forward-5:before { content: '\e8b8'; } /* '' */
.icon-av-forward-10:before { content: '\e8b9'; } /* '' */
.icon-av-forward-30:before { content: '\e8ba'; } /* '' */
.icon-av-games:before { content: '\e8bb'; } /* '' */
.icon-av-hearing:before { content: '\e8bc'; } /* '' */
.icon-av-high-quality:before { content: '\e8bd'; } /* '' */
.icon-av-library-add:before { content: '\e8be'; } /* '' */
.icon-av-library-books:before { content: '\e8bf'; } /* '' */
.icon-av-library-music:before { content: '\e8c0'; } /* '' */
.icon-av-loop:before { content: '\e8c1'; } /* '' */
.icon-av-mic:before { content: '\e8c2'; } /* '' */
.icon-av-mic-none:before { content: '\e8c3'; } /* '' */
.icon-av-mic-off:before { content: '\e8c4'; } /* '' */
.icon-av-movie:before { content: '\e8c5'; } /* '' */
.icon-av-new-releases:before { content: '\e8c6'; } /* '' */
.icon-av-not-interested:before { content: '\e8c7'; } /* '' */
.icon-av-pause:before { content: '\e8c8'; } /* '' */
.icon-av-pause-circle-filled:before { content: '\e8c9'; } /* '' */
.icon-av-pause-circle-outline:before { content: '\e8ca'; } /* '' */
.icon-av-play-arrow:before { content: '\e8cb'; } /* '' */
.icon-av-play-circle-filled:before { content: '\e8cc'; } /* '' */
.icon-av-play-circle-outline:before { content: '\e8cd'; } /* '' */
.icon-av-playlist-add:before { content: '\e8ce'; } /* '' */
.icon-av-queue:before { content: '\e8cf'; } /* '' */
.icon-av-queue-musav-48px:before { content: '\e8d0'; } /* '' */
.icon-av-radio:before { content: '\e8d1'; } /* '' */
.icon-av-recent-actors:before { content: '\e8d2'; } /* '' */
.icon-av-repeat:before { content: '\e8d3'; } /* '' */
.icon-av-repeat-one:before { content: '\e8d4'; } /* '' */
.icon-av-replay:before { content: '\e8d5'; } /* '' */
.icon-av-replay-5:before { content: '\e8d6'; } /* '' */
.icon-av-replay-10:before { content: '\e8d7'; } /* '' */
.icon-av-replay-30:before { content: '\e8d8'; } /* '' */
.icon-av-shuffle:before { content: '\e8d9'; } /* '' */
.icon-av-skip-next:before { content: '\e8da'; } /* '' */
.icon-av-skip-previous:before { content: '\e8db'; } /* '' */
.icon-av-snooze:before { content: '\e8dc'; } /* '' */
.icon-av-stop:before { content: '\e8dd'; } /* '' */
.icon-av-subtitles:before { content: '\e8de'; } /* '' */
.icon-av-surround-sound:before { content: '\e8df'; } /* '' */
.icon-av-videocam:before { content: '\e8e0'; } /* '' */
.icon-av-videocam-off:before { content: '\e8e1'; } /* '' */
.icon-av-video-library:before { content: '\e8e2'; } /* '' */
.icon-av-volume-down:before { content: '\e8e3'; } /* '' */
.icon-av-volume-mute:before { content: '\e8e4'; } /* '' */
.icon-av-volume-off:before { content: '\e8e5'; } /* '' */
.icon-av-volume-up:before { content: '\e8e6'; } /* '' */
.icon-av-web:before { content: '\e8e7'; } /* '' */
.icon-communication-business:before { content: '\e8e8'; } /* '' */
.icon-communication-call:before { content: '\e8e9'; } /* '' */
.icon-communication-call-end:before { content: '\e8ea'; } /* '' */
.icon-communication-call-made:before { content: '\e8eb'; } /* '' */
.icon-communication-call-merge:before { content: '\e8ec'; } /* '' */
.icon-communication-call-missed:before { content: '\e8ed'; } /* '' */
.icon-communication-call-received:before { content: '\e8ee'; } /* '' */
.icon-communication-call-split:before { content: '\e8ef'; } /* '' */
.icon-communication-chat:before { content: '\e8f0'; } /* '' */
.icon-communication-chat-bubble:before { content: '\e8f1'; } /* '' */
.icon-communication-chat-bubble-outline:before { content: '\e8f2'; } /* '' */
.icon-communication-clear-all:before { content: '\e8f3'; } /* '' */
.icon-communication-comment:before { content: '\e8f4'; } /* '' */
.icon-communication-contact-mail:before { content: '\e8f5'; } /* '' */
.icon-communication-contact-phone:before { content: '\e8f6'; } /* '' */
.icon-communication-contacts:before { content: '\e8f7'; } /* '' */
.icon-communication-dialer-sip:before { content: '\e8f8'; } /* '' */
.icon-communication-dialpad:before { content: '\e8f9'; } /* '' */
.icon-communication-email:before { content: '\e8fa'; } /* '' */
.icon-communication-forum:before { content: '\e8fb'; } /* '' */
.icon-communication-import-export:before { content: '\e8fc'; } /* '' */
.icon-communication-invert-colors-off:before { content: '\e8fd'; } /* '' */
.icon-communication-live-help:before { content: '\e8fe'; } /* '' */
.icon-communication-location-off:before { content: '\e8ff'; } /* '' */
.icon-communication-location-on:before { content: '\e900'; } /* '' */
.icon-communication-message:before { content: '\e901'; } /* '' */
.icon-communication-no-sim:before { content: '\e902'; } /* '' */
.icon-communication-phone:before { content: '\e903'; } /* '' */
.icon-communication-portable-wifi-off:before { content: '\e904'; } /* '' */
.icon-communication-present-to-all:before { content: '\e905'; } /* '' */
.icon-communication-ring-volume:before { content: '\e906'; } /* '' */
.icon-communication-speaker-phone:before { content: '\e907'; } /* '' */
.icon-communication-stay-current-landscape:before { content: '\e908'; } /* '' */
.icon-communication-stay-current-portrait:before { content: '\e909'; } /* '' */
.icon-communication-stay-primary-landscape:before { content: '\e90a'; } /* '' */
.icon-communication-stay-primary-portrait:before { content: '\e90b'; } /* '' */
.icon-communication-swap-calls:before { content: '\e90c'; } /* '' */
.icon-communication-textsms:before { content: '\e90d'; } /* '' */
.icon-communication-voicemail:before { content: '\e90e'; } /* '' */
.icon-communication-vpn-key:before { content: '\e90f'; } /* '' */
.icon-content-add:before { content: '\e910'; } /* '' */
.icon-content-add-box:before { content: '\e911'; } /* '' */
.icon-content-add-circle:before { content: '\e912'; } /* '' */
.icon-content-add-circle-outline:before { content: '\e913'; } /* '' */
.icon-content-archive:before { content: '\e914'; } /* '' */
.icon-content-backspace:before { content: '\e915'; } /* '' */
.icon-content-block:before { content: '\e916'; } /* '' */
.icon-content-clear:before { content: '\e917'; } /* '' */
.icon-content-content-copy:before { content: '\e918'; } /* '' */
.icon-content-content-cut:before { content: '\e919'; } /* '' */
.icon-content-content-paste:before { content: '\e91a'; } /* '' */
.icon-content-create:before { content: '\e91b'; } /* '' */
.icon-content-drafts:before { content: '\e91c'; } /* '' */
.icon-content-filter-list:before { content: '\e91d'; } /* '' */
.icon-content-flag:before { content: '\e91e'; } /* '' */
.icon-content-forward:before { content: '\e91f'; } /* '' */
.icon-content-gesture:before { content: '\e920'; } /* '' */
.icon-content-inbox:before { content: '\e921'; } /* '' */
.icon-content-link:before { content: '\e922'; } /* '' */
.icon-content-mail:before { content: '\e923'; } /* '' */
.icon-content-markunread:before { content: '\e924'; } /* '' */
.icon-content-redo:before { content: '\e925'; } /* '' */
.icon-content-remove:before { content: '\e926'; } /* '' */
.icon-content-remove-circle:before { content: '\e927'; } /* '' */
.icon-content-remove-circle-outline:before { content: '\e928'; } /* '' */
.icon-content-reply:before { content: '\e929'; } /* '' */
.icon-content-reply-all:before { content: '\e92a'; } /* '' */
.icon-content-report:before { content: '\e92b'; } /* '' */
.icon-content-save:before { content: '\e92c'; } /* '' */
.icon-content-select-all:before { content: '\e92d'; } /* '' */
.icon-content-send:before { content: '\e92e'; } /* '' */
.icon-content-sort:before { content: '\e92f'; } /* '' */
.icon-content-text-format:before { content: '\e930'; } /* '' */
.icon-content-undo:before { content: '\e931'; } /* '' */
.icon-device-wifi-tethering:before { content: '\e932'; } /* '' */
.icon-device-access-alarm:before { content: '\e933'; } /* '' */
.icon-device-add-alarm:before { content: '\e934'; } /* '' */
.icon-device-access-time:before { content: '\e935'; } /* '' */
.icon-device-airplanemode-active:before { content: '\e936'; } /* '' */
.icon-device-airplanemode-inactive:before { content: '\e937'; } /* '' */
.icon-device-battery:before { content: '\e938'; } /* '' */
.icon-device-battery-alert:before { content: '\e939'; } /* '' */
.icon-device-battery-charging-20:before { content: '\e93a'; } /* '' */
.icon-device-battery-unknown:before { content: '\e93b'; } /* '' */
.icon-device-bluetooth:before { content: '\e93c'; } /* '' */
.icon-device-bluetooth-connected:before { content: '\e93d'; } /* '' */
.icon-device-bluetooth-disabled:before { content: '\e93e'; } /* '' */
.icon-device-bluetooth-searching:before { content: '\e93f'; } /* '' */
.icon-device-brightness-auto:before { content: '\e940'; } /* '' */
.icon-device-brightness-high:before { content: '\e941'; } /* '' */
.icon-device-brightness-low:before { content: '\e942'; } /* '' */
.icon-device-brightness-medium:before { content: '\e943'; } /* '' */
.icon-device-data-usage:before { content: '\e944'; } /* '' */
.icon-device-developer-mode:before { content: '\e945'; } /* '' */
.icon-device-devices:before { content: '\e946'; } /* '' */
.icon-device-dvr:before { content: '\e947'; } /* '' */
.icon-device-gps-fixed:before { content: '\e948'; } /* '' */
.icon-device-gps-not-fixed:before { content: '\e949'; } /* '' */
.icon-device-gps-off:before { content: '\e94a'; } /* '' */
.icon-device-graphdevice-eq:before { content: '\e94b'; } /* '' */
.icon-device-network-wifi:before { content: '\e94c'; } /* '' */
.icon-device-nfc:before { content: '\e94d'; } /* '' */
.icon-device-screen-lock-landscape:before { content: '\e94e'; } /* '' */
.icon-device-screen-lock-portrait:before { content: '\e94f'; } /* '' */
.icon-device-screen-lock-rotation:before { content: '\e950'; } /* '' */
.icon-device-screen-rotation:before { content: '\e951'; } /* '' */
.icon-device-sd-storage:before { content: '\e952'; } /* '' */
.icon-device-settings-system-daydream:before { content: '\e953'; } /* '' */
.icon-device-signal-cellular-0-bar:before { content: '\e954'; } /* '' */
.icon-device-signal-cellular-connected-no-internet-0-bar:before { content: '\e955'; } /* '' */
.icon-device-signal-cellular-no-sim:before { content: '\e956'; } /* '' */
.icon-device-signal-cellular-null:before { content: '\e957'; } /* '' */
.icon-device-signal-cellular-off:before { content: '\e958'; } /* '' */
.icon-device-signal-wifi-1-bar-lock:before { content: '\e959'; } /* '' */
.icon-device-signal-wifi-off:before { content: '\e95a'; } /* '' */
.icon-device-storage:before { content: '\e95b'; } /* '' */
.icon-device-usb:before { content: '\e95c'; } /* '' */
.icon-device-wallpaper:before { content: '\e95d'; } /* '' */
.icon-device-widgets:before { content: '\e95e'; } /* '' */
.icon-editor-wrap-text:before { content: '\e95f'; } /* '' */
.icon-editor-attach-file:before { content: '\e960'; } /* '' */
.icon-editor-attach-money:before { content: '\e961'; } /* '' */
.icon-editor-border-all:before { content: '\e962'; } /* '' */
.icon-editor-border-bottom:before { content: '\e963'; } /* '' */
.icon-editor-border-clear:before { content: '\e964'; } /* '' */
.icon-editor-border-color:before { content: '\e965'; } /* '' */
.icon-editor-border-horizontal:before { content: '\e966'; } /* '' */
.icon-editor-border-inner:before { content: '\e967'; } /* '' */
.icon-editor-border-left:before { content: '\e968'; } /* '' */
.icon-editor-border-outer:before { content: '\e969'; } /* '' */
.icon-editor-border-right:before { content: '\e96a'; } /* '' */
.icon-editor-border-style:before { content: '\e96b'; } /* '' */
.icon-editor-border-top:before { content: '\e96c'; } /* '' */
.icon-editor-border-vertical:before { content: '\e96d'; } /* '' */
.icon-editor-format-align-center:before { content: '\e96e'; } /* '' */
.icon-editor-format-align-justify:before { content: '\e96f'; } /* '' */
.icon-editor-format-align-left:before { content: '\e970'; } /* '' */
.icon-editor-format-align-right:before { content: '\e971'; } /* '' */
.icon-editor-format-bold:before { content: '\e972'; } /* '' */
.icon-editor-format-clear:before { content: '\e973'; } /* '' */
.icon-editor-format-color-fill:before { content: '\e974'; } /* '' */
.icon-editor-format-color-reset:before { content: '\e975'; } /* '' */
.icon-editor-format-color-text:before { content: '\e976'; } /* '' */
.icon-editor-format-indent-decrease:before { content: '\e977'; } /* '' */
.icon-editor-format-indent-increase:before { content: '\e978'; } /* '' */
.icon-editor-format-italic:before { content: '\e979'; } /* '' */
.icon-editor-format-line-spacing:before { content: '\e97a'; } /* '' */
.icon-editor-format-list-bulleted:before { content: '\e97b'; } /* '' */
.icon-editor-format-list-numbered:before { content: '\e97c'; } /* '' */
.icon-editor-format-paint:before { content: '\e97d'; } /* '' */
.icon-editor-format-quote:before { content: '\e97e'; } /* '' */
.icon-editor-format-size:before { content: '\e97f'; } /* '' */
.icon-editor-format-strikethrough:before { content: '\e980'; } /* '' */
.icon-editor-format-textdirection-l-to-r:before { content: '\e981'; } /* '' */
.icon-editor-format-textdirection-r-to-l:before { content: '\e982'; } /* '' */
.icon-editor-format-underlined:before { content: '\e983'; } /* '' */
.icon-editor-functions:before { content: '\e984'; } /* '' */
.icon-editor-insert-chart:before { content: '\e985'; } /* '' */
.icon-editor-insert-comment:before { content: '\e986'; } /* '' */
.icon-editor-insert-drive-file:before { content: '\e987'; } /* '' */
.icon-editor-insert-emoticon:before { content: '\e988'; } /* '' */
.icon-editor-insert-invitation:before { content: '\e989'; } /* '' */
.icon-editor-insert-link:before { content: '\e98a'; } /* '' */
.icon-editor-insert-photo:before { content: '\e98b'; } /* '' */
.icon-editor-merge-type:before { content: '\e98c'; } /* '' */
.icon-editor-mode-comment:before { content: '\e98d'; } /* '' */
.icon-editor-mode-edit:before { content: '\e98e'; } /* '' */
.icon-editor-publish:before { content: '\e98f'; } /* '' */
.icon-editor-space-bar:before { content: '\e990'; } /* '' */
.icon-editor-strikethrough-s:before { content: '\e991'; } /* '' */
.icon-editor-vertical-align-bottom:before { content: '\e992'; } /* '' */
.icon-editor-vertical-align-center:before { content: '\e993'; } /* '' */
.icon-editor-vertical-align-top:before { content: '\e994'; } /* '' */
.icon-file-attachment:before { content: '\e995'; } /* '' */
.icon-file-cloud:before { content: '\e996'; } /* '' */
.icon-file-cloud-circle:before { content: '\e997'; } /* '' */
.icon-file-cloud-done:before { content: '\e998'; } /* '' */
.icon-file-cloud-download:before { content: '\e999'; } /* '' */
.icon-file-cloud-off:before { content: '\e99a'; } /* '' */
.icon-file-cloud-queue:before { content: '\e99b'; } /* '' */
.icon-file-cloud-upload:before { content: '\e99c'; } /* '' */
.icon-file-download:before { content: '\e99d'; } /* '' */
.icon-file-upload:before { content: '\e99e'; } /* '' */
.icon-file-folder:before { content: '\e99f'; } /* '' */
.icon-file-folder-open:before { content: '\e9a0'; } /* '' */
.icon-file-folder-shared:before { content: '\e9a1'; } /* '' */
.icon-hardware-cast:before { content: '\e9a2'; } /* '' */
.icon-hardware-cast-connected:before { content: '\e9a3'; } /* '' */
.icon-hardware-computer:before { content: '\e9a4'; } /* '' */
.icon-hardware-desktop-mac:before { content: '\e9a5'; } /* '' */
.icon-hardware-desktop-windows:before { content: '\e9a6'; } /* '' */
.icon-hardware-developer-board:before { content: '\e9a7'; } /* '' */
.icon-hardware-dock:before { content: '\e9a8'; } /* '' */
.icon-hardware-gamepad:before { content: '\e9a9'; } /* '' */
.icon-hardware-headset:before { content: '\e9aa'; } /* '' */
.icon-hardware-headset-mic:before { content: '\e9ab'; } /* '' */
.icon-hardware-keyboard:before { content: '\e9ac'; } /* '' */
.icon-hardware-keyboard-arrow-down:before { content: '\e9ad'; } /* '' */
.icon-hardware-keyboard-arrow-left:before { content: '\e9ae'; } /* '' */
.icon-hardware-keyboard-arrow-right:before { content: '\e9af'; } /* '' */
.icon-hardware-keyboard-arrow-up:before { content: '\e9b0'; } /* '' */
.icon-hardware-keyboard-backspace:before { content: '\e9b1'; } /* '' */
.icon-hardware-keyboard-capslock:before { content: '\e9b2'; } /* '' */
.icon-hardware-keyboard-hide:before { content: '\e9b3'; } /* '' */
.icon-hardware-keyboard-return:before { content: '\e9b4'; } /* '' */
.icon-hardware-keyboard-tab:before { content: '\e9b5'; } /* '' */
.icon-hardware-keyboard-voice:before { content: '\e9b6'; } /* '' */
.icon-hardware-laptop:before { content: '\e9b7'; } /* '' */
.icon-hardware-laptop-chromebook:before { content: '\e9b8'; } /* '' */
.icon-hardware-laptop-mac:before { content: '\e9b9'; } /* '' */
.icon-hardware-laptop-windows:before { content: '\e9ba'; } /* '' */
.icon-hardware-memory:before { content: '\e9bb'; } /* '' */
.icon-hardware-mouse:before { content: '\e9bc'; } /* '' */
.icon-hardware-phone-android:before { content: '\e9bd'; } /* '' */
.icon-hardware-phone-iphone:before { content: '\e9be'; } /* '' */
.icon-hardware-phonelink:before { content: '\e9bf'; } /* '' */
.icon-hardware-phonelink-off:before { content: '\e9c0'; } /* '' */
.icon-hardware-power-input:before { content: '\e9c1'; } /* '' */
.icon-hardware-router:before { content: '\e9c2'; } /* '' */
.icon-hardware-scanner:before { content: '\e9c3'; } /* '' */
.icon-hardware-security:before { content: '\e9c4'; } /* '' */
.icon-hardware-sim-card:before { content: '\e9c5'; } /* '' */
.icon-hardware-smartphone:before { content: '\e9c6'; } /* '' */
.icon-hardware-speaker:before { content: '\e9c7'; } /* '' */
.icon-hardware-speaker-group:before { content: '\e9c8'; } /* '' */
.icon-hardware-tablet:before { content: '\e9c9'; } /* '' */
.icon-hardware-tablet-android:before { content: '\e9ca'; } /* '' */
.icon-hardware-tablet-mac:before { content: '\e9cb'; } /* '' */
.icon-hardware-toys:before { content: '\e9cc'; } /* '' */
.icon-hardware-tv:before { content: '\e9cd'; } /* '' */
.icon-hardware-watch:before { content: '\e9ce'; } /* '' */
.icon-image-wb-sunny:before { content: '\e9cf'; } /* '' */
.icon-image-add-to-photos:before { content: '\e9d0'; } /* '' */
.icon-image-adjust:before { content: '\e9d1'; } /* '' */
.icon-image-assistant:before { content: '\e9d2'; } /* '' */
.icon-image-assistant-photo:before { content: '\e9d3'; } /* '' */
.icon-image-audiotrack:before { content: '\e9d4'; } /* '' */
.icon-image-blur-circular:before { content: '\e9d5'; } /* '' */
.icon-image-blur-linear:before { content: '\e9d6'; } /* '' */
.icon-image-blur-off:before { content: '\e9d7'; } /* '' */
.icon-image-blur-on:before { content: '\e9d8'; } /* '' */
.icon-image-brightness-2:before { content: '\e9d9'; } /* '' */
.icon-image-brightness-3:before { content: '\e9da'; } /* '' */
.icon-image-brightness-4:before { content: '\e9db'; } /* '' */
.icon-image-brightness-5:before { content: '\e9dc'; } /* '' */
.icon-image-brightness-6:before { content: '\e9dd'; } /* '' */
.icon-image-brightness-7:before { content: '\e9de'; } /* '' */
.icon-image-broken-image:before { content: '\e9df'; } /* '' */
.icon-image-brush:before { content: '\e9e0'; } /* '' */
.icon-image-camera:before { content: '\e9e1'; } /* '' */
.icon-image-camera-alt:before { content: '\e9e2'; } /* '' */
.icon-image-camera-front:before { content: '\e9e3'; } /* '' */
.icon-image-camera-rear:before { content: '\e9e4'; } /* '' */
.icon-image-camera-roll:before { content: '\e9e5'; } /* '' */
.icon-image-center-focus-strong:before { content: '\e9e6'; } /* '' */
.icon-image-center-focus-weak:before { content: '\e9e7'; } /* '' */
.icon-image-collections:before { content: '\e9e8'; } /* '' */
.icon-image-colorize:before { content: '\e9e9'; } /* '' */
.icon-image-color-lens:before { content: '\e9ea'; } /* '' */
.icon-image-compare:before { content: '\e9eb'; } /* '' */
.icon-image-control-point:before { content: '\e9ec'; } /* '' */
.icon-image-control-point-duplicate:before { content: '\e9ed'; } /* '' */
.icon-image-crop:before { content: '\e9ee'; } /* '' */
.icon-image-crop-3-2:before { content: '\e9ef'; } /* '' */
.icon-image-crop-5-4:before { content: '\e9f0'; } /* '' */
.icon-image-crop-7-5:before { content: '\e9f1'; } /* '' */
.icon-image-crop-16-9:before { content: '\e9f2'; } /* '' */
.icon-image-crop-din:before { content: '\e9f3'; } /* '' */
.icon-image-crop-free:before { content: '\e9f4'; } /* '' */
.icon-image-crop-landscape:before { content: '\e9f5'; } /* '' */
.icon-image-crop-original:before { content: '\e9f6'; } /* '' */
.icon-image-crop-portrait:before { content: '\e9f7'; } /* '' */
.icon-image-crop-square:before { content: '\e9f8'; } /* '' */
.icon-image-dehaze:before { content: '\e9f9'; } /* '' */
.icon-image-details:before { content: '\e9fa'; } /* '' */
.icon-image-edit:before { content: '\e9fb'; } /* '' */
.icon-image-exposure:before { content: '\e9fc'; } /* '' */
.icon-image-exposure-neg-1:before { content: '\e9fd'; } /* '' */
.icon-image-exposure-neg-2:before { content: '\e9fe'; } /* '' */
.icon-image-exposure-plus-1:before { content: '\e9ff'; } /* '' */
.icon-image-exposure-plus-2:before { content: '\ea00'; } /* '' */
.icon-image-exposure-zero:before { content: '\ea01'; } /* '' */
.icon-image-filter:before { content: '\ea02'; } /* '' */
.icon-image-filter-1:before { content: '\ea03'; } /* '' */
.icon-image-filter-2:before { content: '\ea04'; } /* '' */
.icon-image-filter-3:before { content: '\ea05'; } /* '' */
.icon-image-filter-4:before { content: '\ea06'; } /* '' */
.icon-image-filter-5:before { content: '\ea07'; } /* '' */
.icon-image-filter-6:before { content: '\ea08'; } /* '' */
.icon-image-filter-7:before { content: '\ea09'; } /* '' */
.icon-image-filter-8:before { content: '\ea0a'; } /* '' */
.icon-image-filter-9:before { content: '\ea0b'; } /* '' */
.icon-image-filter-9-plus:before { content: '\ea0c'; } /* '' */
.icon-image-filter-b-and-w:before { content: '\ea0d'; } /* '' */
.icon-image-filter-center-focus:before { content: '\ea0e'; } /* '' */
.icon-image-filter-drama:before { content: '\ea0f'; } /* '' */
.icon-image-filter-frames:before { content: '\ea10'; } /* '' */
.icon-image-filter-hdr:before { content: '\ea11'; } /* '' */
.icon-image-filter-none:before { content: '\ea12'; } /* '' */
.icon-image-filter-tilt-shift:before { content: '\ea13'; } /* '' */
.icon-image-filter-vintage:before { content: '\ea14'; } /* '' */
.icon-image-flare:before { content: '\ea15'; } /* '' */
.icon-image-flash-auto:before { content: '\ea16'; } /* '' */
.icon-image-flash-off:before { content: '\ea17'; } /* '' */
.icon-image-flash-on:before { content: '\ea18'; } /* '' */
.icon-image-flip:before { content: '\ea19'; } /* '' */
.icon-image-gradient:before { content: '\ea1a'; } /* '' */
.icon-image-grain:before { content: '\ea1b'; } /* '' */
.icon-image-grid-off:before { content: '\ea1c'; } /* '' */
.icon-image-grid-on:before { content: '\ea1d'; } /* '' */
.icon-image-hdr-off:before { content: '\ea1e'; } /* '' */
.icon-image-hdr-on:before { content: '\ea1f'; } /* '' */
.icon-image-hdr-strong:before { content: '\ea20'; } /* '' */
.icon-image-hdr-weak:before { content: '\ea21'; } /* '' */
.icon-image-healing:before { content: '\ea22'; } /* '' */
.icon-image-image:before { content: '\ea23'; } /* '' */
.icon-image-image-aspect-ratio:before { content: '\ea24'; } /* '' */
.icon-image-iso:before { content: '\ea25'; } /* '' */
.icon-image-landscape:before { content: '\ea26'; } /* '' */
.icon-image-leak-add:before { content: '\ea27'; } /* '' */
.icon-image-leak-remove:before { content: '\ea28'; } /* '' */
.icon-image-lens:before { content: '\ea29'; } /* '' */
.icon-image-looks:before { content: '\ea2a'; } /* '' */
.icon-image-looks-3:before { content: '\ea2b'; } /* '' */
.icon-image-looks-4:before { content: '\ea2c'; } /* '' */
.icon-image-looks-5:before { content: '\ea2d'; } /* '' */
.icon-image-looks-6:before { content: '\ea2e'; } /* '' */
.icon-image-looks-one:before { content: '\ea2f'; } /* '' */
.icon-image-looks-two:before { content: '\ea30'; } /* '' */
.icon-image-loupe:before { content: '\ea31'; } /* '' */
.icon-image-monochrome-photos:before { content: '\ea32'; } /* '' */
.icon-image-movie-creation:before { content: '\ea33'; } /* '' */
.icon-image-musimage-note:before { content: '\ea34'; } /* '' */
.icon-image-nature:before { content: '\ea35'; } /* '' */
.icon-image-nature-people:before { content: '\ea36'; } /* '' */
.icon-image-navigate-before:before { content: '\ea37'; } /* '' */
.icon-image-navigate-next:before { content: '\ea38'; } /* '' */
.icon-image-palette:before { content: '\ea39'; } /* '' */
.icon-image-panorama:before { content: '\ea3a'; } /* '' */
.icon-image-panorama-fish-eye:before { content: '\ea3b'; } /* '' */
.icon-image-panorama-horizontal:before { content: '\ea3c'; } /* '' */
.icon-image-panorama-vertical:before { content: '\ea3d'; } /* '' */
.icon-image-panorama-wide-angle:before { content: '\ea3e'; } /* '' */
.icon-image-photo:before { content: '\ea3f'; } /* '' */
.icon-image-photo-album:before { content: '\ea40'; } /* '' */
.icon-image-photo-camera:before { content: '\ea41'; } /* '' */
.icon-image-photo-library:before { content: '\ea42'; } /* '' */
.icon-image-picture-as-pdf:before { content: '\ea43'; } /* '' */
.icon-image-portrait:before { content: '\ea44'; } /* '' */
.icon-image-remove-red-eye:before { content: '\ea45'; } /* '' */
.icon-image-rotate-90-degrees-ccw:before { content: '\ea46'; } /* '' */
.icon-image-rotate-left:before { content: '\ea47'; } /* '' */
.icon-image-rotate-right:before { content: '\ea48'; } /* '' */
.icon-image-slideshow:before { content: '\ea49'; } /* '' */
.icon-image-straighten:before { content: '\ea4a'; } /* '' */
.icon-image-style:before { content: '\ea4b'; } /* '' */
.icon-image-switch-camera:before { content: '\ea4c'; } /* '' */
.icon-image-switch-video:before { content: '\ea4d'; } /* '' */
.icon-image-tag-faces:before { content: '\ea4e'; } /* '' */
.icon-image-texture:before { content: '\ea4f'; } /* '' */
.icon-image-timelapse:before { content: '\ea50'; } /* '' */
.icon-image-timer:before { content: '\ea51'; } /* '' */
.icon-image-timer-3:before { content: '\ea52'; } /* '' */
.icon-image-timer-10:before { content: '\ea53'; } /* '' */
.icon-image-timer-off:before { content: '\ea54'; } /* '' */
.icon-image-tonality:before { content: '\ea55'; } /* '' */
.icon-image-transform:before { content: '\ea56'; } /* '' */
.icon-image-tune:before { content: '\ea57'; } /* '' */
.icon-image-view-comfy:before { content: '\ea58'; } /* '' */
.icon-image-view-compact:before { content: '\ea59'; } /* '' */
.icon-image-wb-auto:before { content: '\ea5a'; } /* '' */
.icon-image-wb-cloudy:before { content: '\ea5b'; } /* '' */
.icon-image-wb-incandescent:before { content: '\ea5c'; } /* '' */
.icon-image-wb-iridescent:before { content: '\ea5d'; } /* '' */
.icon-maps-directions:before { content: '\ea5e'; } /* '' */
.icon-maps-traffic:before { content: '\ea5f'; } /* '' */
.icon-maps-beenhere:before { content: '\ea60'; } /* '' */
.icon-maps-directions-bike:before { content: '\ea61'; } /* '' */
.icon-maps-directions-boat:before { content: '\ea62'; } /* '' */
.icon-maps-directions-bus:before { content: '\ea63'; } /* '' */
.icon-maps-directions-car:before { content: '\ea64'; } /* '' */
.icon-maps-directions-railway:before { content: '\ea65'; } /* '' */
.icon-maps-directions-run:before { content: '\ea66'; } /* '' */
.icon-maps-directions-subway:before { content: '\ea67'; } /* '' */
.icon-maps-flight:before { content: '\ea68'; } /* '' */
.icon-maps-directions-walk:before { content: '\ea69'; } /* '' */
.icon-maps-hotel:before { content: '\ea6a'; } /* '' */
.icon-maps-layers:before { content: '\ea6b'; } /* '' */
.icon-maps-layers-clear:before { content: '\ea6c'; } /* '' */
.icon-maps-local-activity:before { content: '\ea6d'; } /* '' */
.icon-maps-local-atm:before { content: '\ea6e'; } /* '' */
.icon-maps-local-bar:before { content: '\ea6f'; } /* '' */
.icon-maps-local-cafe:before { content: '\ea70'; } /* '' */
.icon-maps-local-car-wash:before { content: '\ea71'; } /* '' */
.icon-maps-local-convenience-store:before { content: '\ea72'; } /* '' */
.icon-maps-local-dining:before { content: '\ea73'; } /* '' */
.icon-maps-local-drink:before { content: '\ea74'; } /* '' */
.icon-maps-local-florist:before { content: '\ea75'; } /* '' */
.icon-maps-local-gas-station:before { content: '\ea76'; } /* '' */
.icon-maps-local-grocery-store:before { content: '\ea77'; } /* '' */
.icon-maps-local-hospital:before { content: '\ea78'; } /* '' */
.icon-maps-local-hotel:before { content: '\ea79'; } /* '' */
.icon-maps-local-laundry-service:before { content: '\ea7a'; } /* '' */
.icon-maps-local-library:before { content: '\ea7b'; } /* '' */
.icon-maps-local-mall:before { content: '\ea7c'; } /* '' */
.icon-maps-local-movies:before { content: '\ea7d'; } /* '' */
.icon-maps-local-offer:before { content: '\ea7e'; } /* '' */
.icon-maps-local-parking:before { content: '\ea7f'; } /* '' */
.icon-maps-local-pharmacy:before { content: '\ea80'; } /* '' */
.icon-maps-local-phone:before { content: '\ea81'; } /* '' */
.icon-maps-local-pizza:before { content: '\ea82'; } /* '' */
.icon-maps-local-play:before { content: '\ea83'; } /* '' */
.icon-maps-local-post-office:before { content: '\ea84'; } /* '' */
.icon-maps-local-printshop:before { content: '\ea85'; } /* '' */
.icon-maps-local-see:before { content: '\ea86'; } /* '' */
.icon-maps-local-shipping:before { content: '\ea87'; } /* '' */
.icon-maps-local-taxi:before { content: '\ea88'; } /* '' */
.icon-maps-map:before { content: '\ea89'; } /* '' */
.icon-maps-my-location:before { content: '\ea8a'; } /* '' */
.icon-maps-navigation:before { content: '\ea8b'; } /* '' */
.icon-maps-person-pin:before { content: '\ea8c'; } /* '' */
.icon-maps-pin-drop:before { content: '\ea8d'; } /* '' */
.icon-maps-place:before { content: '\ea8e'; } /* '' */
.icon-maps-rate-review:before { content: '\ea8f'; } /* '' */
.icon-maps-restaurant-menu:before { content: '\ea90'; } /* '' */
.icon-maps-satellite:before { content: '\ea91'; } /* '' */
.icon-maps-store-mall-directory:before { content: '\ea92'; } /* '' */
.icon-maps-terrain:before { content: '\ea93'; } /* '' */
.icon-navigation-unfold-more:before { content: '\ea94'; } /* '' */
.icon-navigation-apps:before { content: '\ea95'; } /* '' */
.icon-navigation-arrow-back:before { content: '\ea96'; } /* '' */
.icon-navigation-arrow-drop-down:before { content: '\ea97'; } /* '' */
.icon-navigation-arrow-drop-down-circle:before { content: '\ea98'; } /* '' */
.icon-navigation-arrow-drop-up:before { content: '\ea99'; } /* '' */
.icon-navigation-arrow-forward:before { content: '\ea9a'; } /* '' */
.icon-navigation-cancel:before { content: '\ea9b'; } /* '' */
.icon-navigation-check:before { content: '\ea9c'; } /* '' */
.icon-navigation-chevron-left:before { content: '\ea9d'; } /* '' */
.icon-navigation-chevron-right:before { content: '\ea9e'; } /* '' */
.icon-navigation-close:before { content: '\ea9f'; } /* '' */
.icon-navigation-expand-less:before { content: '\eaa0'; } /* '' */
.icon-navigation-expand-more:before { content: '\eaa1'; } /* '' */
.icon-navigation-fullscreen:before { content: '\eaa2'; } /* '' */
.icon-navigation-fullscreen-exit:before { content: '\eaa3'; } /* '' */
.icon-navigation-menu:before { content: '\eaa4'; } /* '' */
.icon-navigation-more-horiz:before { content: '\eaa5'; } /* '' */
.icon-navigation-more-vert:before { content: '\eaa6'; } /* '' */
.icon-navigation-refresh:before { content: '\eaa7'; } /* '' */
.icon-navigation-unfold-less:before { content: '\eaa8'; } /* '' */
.icon-notification-wifi:before { content: '\eaa9'; } /* '' */
.icon-notification-adb:before { content: '\eaaa'; } /* '' */
.icon-notification-airline-seat-flat:before { content: '\eaab'; } /* '' */
.icon-notification-airline-seat-flat-angled:before { content: '\eaac'; } /* '' */
.icon-notification-airline-seat-individual-suite:before { content: '\eaad'; } /* '' */
.icon-notification-airline-seat-legroom-extra:before { content: '\eaae'; } /* '' */
.icon-notification-airline-seat-legroom-normal:before { content: '\eaaf'; } /* '' */
.icon-notification-airline-seat-legroom-reduced:before { content: '\eab0'; } /* '' */
.icon-notification-airline-seat-recline-extra:before { content: '\eab1'; } /* '' */
.icon-notification-airline-seat-recline-normal:before { content: '\eab2'; } /* '' */
.icon-notification-bluetooth-audio:before { content: '\eab3'; } /* '' */
.icon-notification-confirmation-number:before { content: '\eab4'; } /* '' */
.icon-notification-disc-full:before { content: '\eab5'; } /* '' */
.icon-notification-do-not-disturb:before { content: '\eab6'; } /* '' */
.icon-notification-do-not-disturb-alt:before { content: '\eab7'; } /* '' */
.icon-notification-drive-eta:before { content: '\eab8'; } /* '' */
.icon-notification-event-available:before { content: '\eab9'; } /* '' */
.icon-notification-event-busy:before { content: '\eaba'; } /* '' */
.icon-notification-event-note:before { content: '\eabb'; } /* '' */
.icon-notification-folder-special:before { content: '\eabc'; } /* '' */
.icon-notification-live-tv:before { content: '\eabd'; } /* '' */
.icon-notification-mms:before { content: '\eabe'; } /* '' */
.icon-notification-more:before { content: '\eabf'; } /* '' */
.icon-notification-network-locked:before { content: '\eac0'; } /* '' */
.icon-notification-ondemand-video:before { content: '\eac1'; } /* '' */
.icon-notification-personal-video:before { content: '\eac2'; } /* '' */
.icon-notification-phone-bluetooth-speaker:before { content: '\eac3'; } /* '' */
.icon-notification-phone-forwarded:before { content: '\eac4'; } /* '' */
.icon-notification-phone-in-talk:before { content: '\eac5'; } /* '' */
.icon-notification-phone-locked:before { content: '\eac6'; } /* '' */
.icon-notification-phone-missed:before { content: '\eac7'; } /* '' */
.icon-notification-phone-paused:before { content: '\eac8'; } /* '' */
.icon-notification-power:before { content: '\eac9'; } /* '' */
.icon-notification-sd-card:before { content: '\eaca'; } /* '' */
.icon-notification-sim-card-alert:before { content: '\eacb'; } /* '' */
.icon-notification-sms:before { content: '\eacc'; } /* '' */
.icon-notification-sms-failed:before { content: '\eacd'; } /* '' */
.icon-notification-sync:before { content: '\eace'; } /* '' */
.icon-notification-sync-disabled:before { content: '\eacf'; } /* '' */
.icon-notification-sync-problem:before { content: '\ead0'; } /* '' */
.icon-notification-system-update:before { content: '\ead1'; } /* '' */
.icon-notification-tap-and-play:before { content: '\ead2'; } /* '' */
.icon-notification-vibration:before { content: '\ead3'; } /* '' */
.icon-notification-voice-chat:before { content: '\ead4'; } /* '' */
.icon-notification-vpn-lock:before { content: '\ead5'; } /* '' */
.icon-notification-wc:before { content: '\ead6'; } /* '' */
.icon-social-cake:before { content: '\ead7'; } /* '' */
.icon-social-domain:before { content: '\ead8'; } /* '' */
.icon-social-group:before { content: '\ead9'; } /* '' */
.icon-social-group-add:before { content: '\eada'; } /* '' */
.icon-social-location-city:before { content: '\eadb'; } /* '' */
.icon-social-mood:before { content: '\eadc'; } /* '' */
.icon-social-mood-bad:before { content: '\eadd'; } /* '' */
.icon-social-notifications:before { content: '\eade'; } /* '' */
.icon-social-notifications-active:before { content: '\eadf'; } /* '' */
.icon-social-notifications-none:before { content: '\eae0'; } /* '' */
.icon-social-notifications-off:before { content: '\eae1'; } /* '' */
.icon-social-notifications-paused:before { content: '\eae2'; } /* '' */
.icon-social-pages:before { content: '\eae3'; } /* '' */
.icon-social-party-mode:before { content: '\eae4'; } /* '' */
.icon-social-people:before { content: '\eae5'; } /* '' */
.icon-social-people-outline:before { content: '\eae6'; } /* '' */
.icon-social-person:before { content: '\eae7'; } /* '' */
.icon-social-person-add:before { content: '\eae8'; } /* '' */
.icon-social-person-outline:before { content: '\eae9'; } /* '' */
.icon-social-plus-one:before { content: '\eaea'; } /* '' */
.icon-social-poll:before { content: '\eaeb'; } /* '' */
.icon-social-public:before { content: '\eaec'; } /* '' */
.icon-social-school:before { content: '\eaed'; } /* '' */
.icon-social-share:before { content: '\eaee'; } /* '' */
.icon-social-whatshot:before { content: '\eaef'; } /* '' */
.icon-toggle-check-box:before { content: '\eaf0'; } /* '' */
.icon-toggle-check-box-outline-blank:before { content: '\eaf1'; } /* '' */
.icon-toggle-radio-button-checked:before { content: '\eaf2'; } /* '' */
.icon-toggle-radio-button-unchecked:before { content: '\eaf3'; } /* '' */