@import url("//fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,700,800,italic800,italic400,400&subset=latin,vietnamese");

body {
  margin: 0; padding: 0;
  font-family: "Open Sans", sans-serif, Arial;
  color: #404040;
}