@import "../variables";

.popup-wrapper {
  user-select: none;

  .popup-backdrop {
    position: fixed; top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; z-index: 3000;
    transition: opacity 0.2s linear;
    visibility: hidden;
  }

  .popup-content {
    position: fixed; top: -15px; left: 50%; right: 0; height: 580px;
    width: 382px; z-index: 6200;
    transform: translate(-50%, 10%) scale(0.8);
    transform-origin: center center;
    transition: transform 0.3s $bounceAnimation;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &.active {
    .popup-backdrop {
      opacity: 1; visibility: visible;
    }

    .popup-content {
      transform: translate(-50%, 15%) scale(1);
      visibility: visible;

      @media screen and (max-width: 600px) {
        transform: translate(-50%, 0) scale(1);
        width: 100%;
        height: 100%;
        top: 0px;
        //height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        overflow: scroll;
      }

      @media screen and (max-height: 480px) {
        top: 0px;
      }
    }
  }
}