<light-slider items="mainCtrl.sliders" class="slider" ng-style="{height: mainCtrl.sliderHeight+'px'}">
	<div class="content-wrapper" ng-style="{height: mainCtrl.sliderHeight+'px'}">
		<!--<subscription-form wrapper-class="subscription-form floating" ng-if="!appCtrl.subscriptionPopup"></subscription-form>-->
	</div>
</light-slider>


<modal-one enable="mainCtrl.modalOneActive">
	<subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
</modal-one>

<modal-one enable="mainCtrl.modalTwoActive">
	<subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
</modal-one>

<modal-one enable="mainCtrl.modalThreeActive">
	<modal modal="modal"></modal>
</modal-one>


<div class="light-row ng-scope section-heading" style="background: white;color: black;font-size:14px; text-align:center;">
	<div class="column">
		<p><span style="font-size: 18px; font-weight: normal; text-transform:uppercase">BÁO GIÁ TỐT NHẤT</span></p>
		<p>Chính sách giá và khuyến mãi sẽ thay đổi theo từng thời điểm, hãy đăng kí ngay để nhận báo giá tốt nhất</p>
		<div><a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });" style="cursor: pointer;display:block;" ng-click="mainCtrl.modalOneActive = true"><img src="https://c8.staticflickr.com/9/8607/28501299991_64ddae98da_o.jpg"></a></div>
	</div>
	<div class="column">
		<p><span style="font-size: 18px; font-weight: normal; text-transform:uppercase">TƯ VẤN MUA XE TRẢ GÓP</span></p>
		<p>Chính sách giá và khuyến mãi sẽ thay đổi theo từng thời điểm, hãy đăng kí ngay để nhận báo giá tốt nhất</p>
		<div><a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });" style="cursor: pointer;display:block;" ng-click="mainCtrl.modalTwoActive = true"><img src="https://c1.staticflickr.com/8/7666/28295380200_b0d4a3d67c_o.jpg"></a></div>
	</div>
	<div class="column">
		<p><span style="font-size: 18px; font-weight: normal; text-transform:uppercase">LÁI XE THỬ MIỄN PHÍ</span></p>
		<p>Lái thử xe là một bước rất quan trọng, hãy đăng kí để trải nghiệm ngay!</p>
		<div><a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Test Driver', 'eventAction': 'Click', 'eventLabel': 'Test driver' });" style="cursor: pointer;display:block;" ng-click="mainCtrl.modalThreeActive = true"><img src="https://c2.staticflickr.com/9/8545/27964156393_d99bbf5023_o.jpg"></a></div>
	</div>
</div>


<!--<div class="slider">-->
	<!--<div class="parallax-area" ng-parallax pattern="'images/river-view.jpg'">-->
		<!--<div class="content-wrapper">-->
			<!--<subscription-form wrapper-class="subscription-form floating" ng-if="!appCtrl.subscriptionPopup"></subscription-form>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div class="section-heading" ng-bind-html="mainCtrl.features[0].Categorie.description | unsafe"></div>
<div class="section-canvas">
	<div class="content-wrapper">
		<div class="bullets">
			<div class="bullet-item" ng-repeat="feature in mainCtrl.features">
				<div class="bullet-avatar" ng-style="{'background-image': 'url('+feature.Post.image+')'}"></div>
				<div class="bullet-heading" ng-bind="feature.Post.title"></div>
				<div class="bullet-description">
					<span ng-bind="feature.Post.description"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-content-section">
	<div class="content-wrapper">
		<div class="contents" ng-bind-html="page.content | unsafe" ng-repeat="page in activeContents"></div>
	</div>
</div>

<news-area></news-area>

<light-footer columns="appCtrl.footers"></light-footer>