<div class="slider">
	<div class="parallax-area" ng-parallax pattern="'images/river-view.jpg'">
		<div class="content-wrapper">
			<subscription-form wrapper-class="subscription-form floating" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
		</div>
	</div>
</div>

<div class="section-heading">
	<span>4 tiện ích lần đầu tiên xuất hiện tại</span>
	<span class="highlight">River City!</span>
</div>

<div class="content-wrapper">
	<div class="bullets">
		<div class="bullet-item" ng-repeat="feature in mainCtrl.features">
			<div class="bullet-avatar" ng-style="{'background-image': 'url('+feature.Post.image+')'}"></div>
			<div class="bullet-heading" ng-bind="feature.Post.title"></div>
			<div class="bullet-description">
				<span ng-bind="feature.Post.description"></span>
			</div>
		</div>
	</div>
</div>

<div class="page-content-section">
	<div class="content-wrapper">
		<div class="contents" ng-bind-html="activePage.content | unsafe" ng-if="activePage"></div>
	</div>
</div>

<light-footer></light-footer>