<div class="page-content-section">
	<div class="content-wrapper">
		<div class="page-content news">
			<div class="single-news" ng-if="newsCtrl.singleMode">
				<!--<div class="title" ng-bind="newsCtrl.activeNews.title"></div>-->
				<!--<div class="timestamp">-->
					<!--<span>Cập nhật gần nhất: </span>-->
					<!--<span ng-bind="newsCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>-->
				<!--</div>-->
				<div class="news-details" ng-bind-html="newsCtrl.activeNews.content | unsafe"></div>
			</div>

			<div class="all-news light-row" ng-if="!singleMode">
				<div class="column" ui-sref="news({alias: news.Post.alias})" ng-repeat="news in newsCtrl.allNews">
					<div class="title" ng-bind="news.Post.title"></div>
					<div class="timestamp">
						<span>Cập nhật gần nhất: </span>
						<span ng-bind="newsCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>
					</div>
					<div class="summary" ng-bind-html="news.Post.description | unsafe"></div>
					<div class="thumb-image-wrapper">
						<div class="image image-hover-effect-zoom-120" ng-style="{'background-image': 'url('+news.Post.image+')'}"></div>
					</div>
				</div>
			</div>

		</div>

		<light-sidebar>
			<card></card>
			<div style="cursor: pointer; text-align: center" ng-click="appCtrl.price();">
				<img style="width: 100%" src="https://c1.staticflickr.com/9/8832/28566943501_2bc3b4acd0_o.png"/>
			</div>

			<div><a style="cursor: pointer;text-align: center;display:block;"
					ng-click="appCtrl.price2();">
				<img style="width: 100%" src="https://c1.staticflickr.com/9/8894/28029234773_3804dd917b_o.png"/>
			</a>
			</div>
			<div>
				<a style="cursor: pointer;text-align: center;display:block;"
				   ng-click="appCtrl.testdriver();">
					<img style="width: 100%" src="https://c1.staticflickr.com/9/8235/28361218900_f114fe58c8_o.png"/>
				</a>
			</div>
		</light-sidebar>
	</div>
</div>
<a href="tel:0938110139"><div class="call icon-communication-call"></div></a>
<modal-one enable="appCtrl.modalOneActive">
	<subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
</modal-one>

<modal-one enable="appCtrl.modalTwoActive">
	<modal2 modal="modal"></modal2>
</modal-one>

<modal-one enable="appCtrl.modalThreeActive">
	<modal modal="modal"></modal>
</modal-one>
<light-footer columns="appCtrl.footers"></light-footer>