<div class="page-content-section">
	<div class="content-wrapper">
		<div class="page-content news">
			<div class="single-news" ng-if="newsCtrl.singleMode">
				<div class="title" ng-bind="newsCtrl.activeNews.title"></div>
				<div class="timestamp">
					<span>Cập nhật gần nhất: </span>
					<span ng-bind="newsCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>
				</div>
				<div class="news-details" ng-bind-html="newsCtrl.activeNews.content | unsafe"></div>
			</div>

			<div class="all-news light-row" ng-if="!singleMode">
				<div class="column" ui-sref="news({alias: news.Post.alias})" ng-repeat="news in newsCtrl.allNews">
					<div class="title" ng-bind="news.Post.title"></div>
					<div class="timestamp">
						<span>Cập nhật gần nhất: </span>
						<span ng-bind="newsCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>
					</div>
					<div class="summary" ng-bind-html="news.Post.description | unsafe"></div>
					<div class="thumb-image-wrapper">
						<div class="image image-hover-effect-zoom-120" ng-style="{'background-image': 'url('+news.Post.image+')'}"></div>
					</div>
				</div>
			</div>

		</div>

		<light-sidebar>
			<card></card>
			<div onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });" style="cursor: pointer; text-align: center" ng-click="productCtrl.modalOneActive = true">
				<img src="https://c4.staticflickr.com/8/7596/28502136811_a6c99539f6_m.jpg"/>
			</div>

			<div><a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });"
					style="cursor: pointer;text-align: center;display:block;"
					ng-click="productCtrl.modalTwoActive = true">
				<img src="https://c6.staticflickr.com/9/8721/28502136821_67f209743d_m.jpg">
			</a>
			</div>
			<div>
				<a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Test Driver', 'eventAction': 'Click', 'eventLabel': 'Test driver' });"
				   style="cursor: pointer;text-align: center;display:block;"
				   ng-click="productCtrl.modalThreeActive = true">
					<img src="https://c6.staticflickr.com/9/8116/27965018013_8380d8e875_m.jpg">
				</a>
			</div>
		</light-sidebar>
	</div>
</div>

<light-footer columns="appCtrl.footers"></light-footer>