<div class="page-content-section">
	<div class="content-wrapper">
		<div id="{{'section'+page.alias}}" class="page-content" ng-bind-html="page.content | unsafe" ng-repeat="page in activeContents"></div>
		<light-sidebar>
			<card></card>
			<div style="cursor: pointer; text-align: center" ng-click="appCtrl.price();">
				<img style="width: 100%" src="https://c1.staticflickr.com/9/8832/28566943501_2bc3b4acd0_o.png"/>
			</div>

			<div><a style="cursor: pointer;text-align: center;display:block;"
					ng-click="appCtrl.price2();">
				<img style="width: 100%" src="https://c1.staticflickr.com/9/8894/28029234773_3804dd917b_o.png"/>
			</a>
			</div>
			<div>
				<a style="cursor: pointer;text-align: center;display:block;"
				   ng-click="appCtrl.testdriver();">
					<img style="width: 100%" src="https://c1.staticflickr.com/9/8235/28361218900_f114fe58c8_o.png"/>
				</a>
			</div>
		</light-sidebar>
	</div>
</div>
<modal-one enable="appCtrl.modalOneActive">
	<subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
</modal-one>

<modal-one enable="appCtrl.modalTwoActive">
	<modal2 modal="modal"></modal2>
</modal-one>

<modal-one enable="appCtrl.modalThreeActive">
	<modal modal="modal"></modal>
</modal-one>
<light-footer columns="appCtrl.footers"></light-footer>