<div class="page-content-section">
	<div class="content-wrapper">
		<div class="page-content news">
			<div class="single-news" ng-if="productCtrl.singleMode">
				<!--<div class="title" ng-bind="productCtrl.activeNews.title"></div>-->
				<!--<div class="timestamp">-->
					<!--<span>Cập nhật gần nhất: </span>-->
					<!--<span ng-bind="productCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>-->
				<!--</div>-->
				<div class="news-details" ng-bind-html="productCtrl.activeNews.content | unsafe"></div>
			</div>

			<div class="all-news light-row" ng-if="!singleMode">
				<div style="border:1px solid #e8e8e8;" class="column" ui-sref="product({alias: product.Post.alias})"
						 ng-repeat="product in productCtrl.allProduct">
					<!--<div class="title" ng-bind="product.Post.title"></div>-->
					<!--<div class="timestamp">-->
						<!--&lt;!&ndash;<span>Cập nhật gần nhất: </span>&ndash;&gt;-->
						<!--&lt;!&ndash;<span ng-bind="productCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>&ndash;&gt;-->
						<!--</div>-->
						<!--<div class="summary" ng-bind-html="product.Post.description | unsafe"></div>-->
						<!--<div class="thumb-image-wrapper">-->
							<!--<div class="image image-hover-effect-zoom-120"-->
								 <!--ng-style="{'background-image': 'url('+product.Post.image+')'}"></div>-->
					<!--</div>-->
					<div class="thumb-image-wrapper">
						<div class="image" ng-style="{'background-image': 'url('+product.Post.image+')'}" style="height:265px;background-image: url(&quot;https://c1.staticflickr.com/9/8715/28525235376_bafd8fe611_m.jpg&quot;);"></div>
                    </div>

                    <div class=" image-hover-effect-zoom-120" style=" margin: 0 10%; padding: 10px; background: #0353ad; color: white; text-align: center; "><p ng-bind="product.Post.title" style="margin:0;"><span style="font-size: 18px; font-weight: normal; text-transform:uppercase;"></span></p></div>
					<div class="summary ng-binding" ng-bind-html="product.Post.description | unsafe"></div>

				</div>
                <div style="border:1px solid #e8e8e8;" class="column">
                    <!--<div class="thumb-image-wrapper">-->
                        <!--<div class="image" ng-style="{'background-image': 'url('+product.Post.image+')'}" style="height:265px;background-image: url(&quot;https://c1.staticflickr.com/9/8715/28525235376_bafd8fe611_m.jpg&quot;);"></div>-->
                    <!--</div>-->


                    <!--<div class="summary ng-binding" ng-bind-html="product.Post.description | unsafe"></div>-->
                </div>
			</div>

		</div>


        <a href="tel:0938110139"><div class="call icon-communication-call"></div></a>
        <modal-one enable="appCtrl.modalOneActive">
            <subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
        </modal-one>

        <modal-one enable="appCtrl.modalTwoActive">
            <modal2 modal="modal"></modal2>
        </modal-one>

        <modal-one enable="appCtrl.modalThreeActive">
            <modal modal="modal"></modal>
        </modal-one>


        <light-sidebar>
            <card></card>
            <div style="cursor: pointer; text-align: center" ng-click="appCtrl.price();">
                <img style="width: 100%" src="https://c1.staticflickr.com/9/8832/28566943501_2bc3b4acd0_o.png"/>
            </div>

            <div><a style="cursor: pointer;text-align: center;display:block;"
                    ng-click="appCtrl.price2();">
                <img style="width: 100%" src="https://c1.staticflickr.com/9/8894/28029234773_3804dd917b_o.png"/>
            </a>
            </div>
            <div>
                <a style="cursor: pointer;text-align: center;display:block;"
                   ng-click="appCtrl.testdriver();">
                    <img style="width: 100%" src="https://c1.staticflickr.com/9/8235/28361218900_f114fe58c8_o.png"/>
                </a>
            </div>
        </light-sidebar>
	</div>
</div>


<light-footer columns="appCtrl.footers"></light-footer>