<div class="under-slider">
    <div class="content-wrapper">
    <div class="light-row">
        <div class="column">
                <div class="fix">
            <!--<div class="under-logo"></div>-->
            <p>
                <p style="margin: 0;"><img src="images/underlogo2.png" alt="img"></p>
                <p style="margin: 0 0 0 10px;font-size: 16px;line-height: 1.6;">Chúng tôi cam kết khi mua xe tại <span style=" color: #0353ad; font-weight: 700">Sài Gòn Ford Phổ Quang</span>
                <br>Quý khách sẽ được hỗ trợ: giá xe tốt nhất, khuyến mãi khủng nhất, hậu mãi lâu dài nhất.</p>
            </div>

        </div>

             <div style="" class="column fix">

                        <a href="tel:0938980139" ng-click="appCtrl.convertcall();" class="contactunder-logo"></a>

             </div>
    </div>
    </div>
    </div>
</div>