@import "../variables";
@import "../mixins";

.content-wrapper {
  @extend .clearfix;
  max-width: $maxWidth; margin: 0 auto;
}

.view-injection {
  padding-top: $navigationHeight;
  opacity: 0; transform: translate(0, 200px);
  transition: opacity 1s $cubicAnimation, transform 0.2s $cubicAnimation;

  &.burgering {
    transform: translate(-$burgerSize, 0) !important;
  }

  &.ready {
    transform: translate(0, 0);
    opacity: 1;
  }
}

input, textarea {
  outline: none; color: #404040;
}