@import "../variables";
@import "../mixins";

.content-wrapper {
  @extend .clearfix;
  max-width: $maxWidth; margin: 0 auto;
}

.view-injection {
  padding-top: $navigationHeight;
  transition: transform 0.2s $cubicAnimation;

  &.burgering {
    transform: translate(-$burgerSize, 0);
  }
}

input, textarea {
  outline: none; color: #404040;
}