@import "../variables";
@import "../mixins";

body {
  background-color: $themeColor;
}

.content-wrapper {
  @extend .clearfix; position: relative;
  max-width: $maxWidth; margin: 0 auto;
}

.view-injection {
  padding-top: $navigationHeight;
  opacity: 0.2;// transform: translate(0, -200px);
  transition: opacity 2.5s $frenzyAnimation, transform 0.5s $frenzyAnimation;

  &.burgering {
    transform: translate(-$burgerSize, 0) !important;
  }

  &.ready {
    //animation: page-transition 0.5s $cubicAnimation;
    //transform: translate(0, 0);
    opacity: 1;
  }
}

input, textarea {
  outline: none; color: #404040;
}

.zopim {
  right: 20px !important;
}

.three-bounce-spinner {
  margin-top: 10px;
  &>div { background-color: white; }
}
//#ngProgress-container {
//  top: 70px;
//  z-index: 999;
//}

