@import "../variables";
@import "../mixins";

.light-row {
  display: flex; flex-flow: row; flex-wrap: wrap;

  .column {
    flex: 1; min-width: 300px;
    margin: 25px;

    @for $i from 1 through 12 {
      &.size-#{$i} {
        flex: #{$i}
      }
    }

    @media screen and (max-width: 500px) {
      flex: 1 1 auto !important;
      margin: 20px 5px;
    }
  }

  &.quatro .column {
    min-width: 220px; margin: 20px;
  }

  &.dual .column {
    min-width: 500px;
  }

  .thumb-image-wrapper {
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;

    .image {
      position: absolute; top: 0; left: 0; right: 0; bottom:0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.image-hover-effect-zoom-120 {
  transition: transform 1s $cubicAnimation;
  transform: scale(1); transform-origin: center center;

  &:hover {
    transform: scale(1.2);
  }
}

.image-hover-effect-zoom {
  transition: transform 1s $cubicAnimation;
  transform: scale(1); transform-origin: center center;

  &:hover {
    transform: scale(1.5);
  }
}

.text-hover-effect-blur {
  transition: color 1s $cubicAnimation;
  color: lightgray;

  &:hover {
    color: #404040;
  }
}

.light-heading {
  font-size: 24px;
  color: #292929;
  font-weight: normal;

  &.section {
    text-align: center;
    padding: 40px 0 10px 0;
  }

  .highlight {
    color: $orangeColor;
  }
}

.light-column {
  text-align: center;
  color: black;
  font-size: 14px;

  .title {
    font-size: 16px; font-weight: normal; color: gray;
    padding-bottom: 15px;
    min-height: 45px;
  }

  .description {
    padding-top: 15px; color: gray;
  }

  &:hover {
    .title {
      color: $orangeColor;
    }

    .description {
      color: $darkColor;
    }
  }
}

.click-able {
  cursor: pointer;
}