@import "../variables";
@import "../mixins";

.light-row {
  display: flex; flex-flow: row; flex-wrap: wrap;

  .column {
    flex: 1; min-width: 300px;
    margin: 25px;
  }

  &.quatro .column {
    min-width: 220px; margin: 20px;
  }

  .thumb-image-wrapper {
    height: 180px;
    position: relative;
    overflow: hidden;

    .image {
      position: absolute; top: 0; left: 0; right: 0; bottom:0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.image-hover-effect-zoom-120 {
  transition: transform 0.5s $cubicAnimation;
  transform: scale(1); transform-origin: center center;

  &:hover {
    transform: scale(1.2);
  }
}

.image-hover-effect-zoom {
  transition: transform 0.5s $cubicAnimation;
  transform: scale(1); transform-origin: center center;

  &:hover {
    transform: scale(1.5);
  }
}