@import "../variables";

$burgerResolution: 1100px;
$navigationBackground: $themeColor;

.navigation-wrapper {
  z-index: 1000;
  position: fixed; top: 0; left: 0; right: 0;
  height: $navigationHeight;
  background-color: white;
  transform: translate(0, -100%);
  transition: transform 0.2s $cubicAnimation;
  //border-bottom: solid 3px $navigationBackground;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  &.burgering {
    transform: translate(-$burgerSize, 0) !important;

    .burger-menu-wrapper .backdrop {
      opacity: 1; visibility: visible;
    }
  }

  &.ready {
    transform: translate(0, 0);
  }

  .content-wrapper {
    height: $navigationHeight;
    padding: 0 15px;
  }

  .site-logo {
    float: left; height: 100px; width: 150px;
    margin-left: 20px; cursor: pointer;
    background-color: white;
    background-image: url('images/logo.jpg');
    background-size: contain; background-position: center center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .navigation-menu {
    float: right;
    @media screen and (max-width: $burgerResolution){
      display: none;
    }

    .navigation-link {
      display: block; float: left; cursor: pointer;
      line-height: $navigationHeight;
      padding: 0 28px; box-sizing: border-box;
      text-transform: uppercase; user-select: none;
      color: $navigationBackground; font-size: 14px;
      position: relative;

      .sub-navigations {
        position: absolute; top: $navigationHeight; left: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: $navigationBackground;
        width: 100%; visibility: hidden;
        transform: translate(0, 5px);
        transition: transform 0.5s $cubicAnimation;
        border-top: solid 5px lighten($navigationBackground, 5);

        .sub-link {
          cursor: pointer;
          line-height: 40px; padding: 0 25px;
          font-size: 13px;
          border-top: dashed 1px rgba(255, 255, 255, 0.2);

          &:before {
            color: rgba(255, 255, 255, 0.4);
            position: absolute; left: 5px;
            height: 100%; line-height: 40px;
          }

          &:hover {
            background-color: lighten($navigationBackground, 5);
          }

          &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }

        &:before {
          position: absolute; top: -17px; left: 50%;
          font-size: 30px;
          transform: translate(-60%, 0)
        }
      }

      &.active {
        background-color: $navigationBackground; color: white;
      }

      &:hover {
        background-color: lighten($navigationBackground, 5); color: white;

        .sub-navigations {
          visibility: visible;
          transform: translate(0, -5px);
        }
      }
    }
  }

  .burger-menu-activator {
    display: none; float: right;
    line-height: $navigationHeight;
    color: $darkColor; font-size: 30px;
    cursor: pointer;

    @media screen and (max-width: $burgerResolution){
      display: block;
    }
  }

  .subscription-activator {
    float: right; padding: 14px 24px; margin: 10px 15px 0 15px;
    color: white; font-weight: 700; background-color: $orangeColor;
    cursor: pointer; user-select: none;
    border-radius: 3px;
  }
}

.burger-menu-wrapper {
  user-select: none;

  .backdrop {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000; opacity: 0;
    transition: opacity 0.2s linear;
    visibility: hidden;
    height: 100vh;
  }

  .burger-menu {
    position: fixed; top: 0; right: 0; bottom: 0;
    width: $burgerSize; height: 100vh; z-index: 2015;
    background-color: $darkColor; color: white;
    transform: translate($burgerSize, 0);

    .menu-heading {
      line-height: $navigationHeight;
      background-color: darken($darkColor, 10);
      min-height: $navigationHeight;
    }

    .menu-item-wrapper {
      cursor: pointer; position: relative;
      font-size: 13px; text-transform: uppercase;
      line-height: 50px;
      border-bottom: dashed 1px rgba(255, 255, 255, 0.2);

      .menu-item {
        padding: 0 20px;
      }

      .sub-menus {
        .sub-menu {
          padding: 0 20px; line-height: 40px;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          &:before {
            margin-right: 10px;
            color: rgba(255, 255, 255, 0.4)
          }
        }
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}