@import "../mixins";

.page-content-section {
  background-color: #FBFBFB;
  border-top: solid 1px #ebebeb;
}

.page-content {
  font-size: 14px;
  flex: 1; padding: 15px 50px 20px 20px;
  margin-right: $sidebarSize + 20px;
  min-height: 1000px;
  @extend .clearfix;
}

.sidebar-wrapper {
  width: $sidebarSize;
  position: absolute; top: 50px; right: 20px;
  transition: transform 0.2s $cubicAnimation;

  .small-banner {
    margin-top: 28px;
    width: 100%; height: 432px;
    background-image: url('images/side-banner.png');
    background-size: contain; background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
  }
}