@import "../variables";
@import "../mixins";

.slider {
  height: $sliderHeight;
  position: relative;

  .parallax-area {
    background-size: cover; background-position: center bottom !important;
    background-repeat: no-repeat;
  }

  .sticky-note {
    position: absolute; bottom: 0; left: 0; right: 0;
    height: 80px; line-height: 80px; color: white;
    background-color: rgba($themeColor, 0.7);
    font-size: 24px; text-align: center;
    text-transform: uppercase;
  }
}

.section-heading {
  padding: 35px 25px;
  font-size: 30px; text-align: center;
  //text-transform: uppercase;
  color: $darkColor; background-color: white;
  font-weight: 300;

  .highlight {
    color: $orangeColor;
  }
}

.section-canvas {
  background-color: white;
}

.bullets {
  display: flex; flex-flow: row; flex-wrap: wrap;
  margin-bottom: 30px;

  .bullet-item {
    flex: 1; margin: 30px 25px 0 25px;
    min-width: 220px;

    .bullet-avatar {
      border-radius: 50%; position: relative;
      width: 180px; height: 180px; margin: 0 auto;
      background-image: url('images/apartment.jpg');
      background-size: cover; background-position: center center;
      transition: transform 0.5s $cubicAnimation;

      &:before {
        content: ' '; display: block;
        position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px;
        border: solid 8px transparent; box-sizing: border-box;
        border-radius: 50%;
        transition: border-color 0.5s linear;
      }

      &:hover {
        transform: scale(1.1);
        &:before { border-color: #A9BCEF; }
      }
    }

    .bullet-heading {
      font-size: 20px;
      text-transform: uppercase; text-align: center;
      margin-top: 25px; padding-bottom: 15px;
      position: relative; min-height: 50px;

      &:after {
        content: ' '; display: block; width: 50%;
        position: absolute; left: 50%; bottom: 0;
        margin: 0 auto;
        border-bottom: solid 3px $orangeColor;
        transform: translate(-50%, 0);
      }
    }

    .bullet-description {
      margin-top: 15px;
      font-size: 15px; font-weight: 300;
      text-align: center;
    }
  }
}

.footer {
  background-color: $themeColor; //#2b2b2b;
  padding-top: 20px; padding-bottom: 25px;

  .columns {
    display: flex; flex-flow: row; flex-wrap: wrap;
    font-size: 13px; color: white;

    .col {
      flex: 1; min-width: 220px;
      padding: 20px 15px;

      .heading {
        font-size: 20px; padding-bottom: 10px;
      }
    }
  }

  ul {
    margin: 0; padding: 0;
    font-size: 14px;

    li {
      margin-left: 20px;
    }
  }

  .fb-like {
    //margin-top: 30px;
  }

  .footer-links {
    font-size: 12px; font-weight: bolder;
    color: white; cursor: pointer;

    .link-item {
      float: left; line-height: 50px;
      padding: 0 15px;
    }
  }
}