@import "../variables";
@import "../mixins";

.subscription-form {
  width: $subscriptionFormWidth;
  min-height: 300px; border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 20px 30px 20px; box-sizing: border-box;
  margin: 0 auto; position: relative;
  box-shadow: -1px 2px 26px -4px rgba(0,0,0,0.81);
  @extend .clearfix;

  .close-command {
    width: 50px; height: 30px; cursor: pointer;
    text-align: center; line-height: 30px;
    color: white; display: none;
    font-size: 20px;
    position: absolute; top: 0; right: 0;
    background-color: $orangeColor;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 3px;
  }

  .heading {
    font-size: 14px; color: $darkColor;
    text-align: center; line-height: 28px;
  }

  .strong {
    font-weight: bold; color: $orangeColor;

    &.ultra {
      font-size: 18px;
    }
  }

  input, textarea {
    border: none; border-bottom: dashed 1px gray; //border-radius: 3px;
    padding: 12px 16px; width: 100%;
    margin-top: 15px; font-size: 14px;
    box-sizing: border-box;
    resize: none;
    background-color: transparent;
  }

  .error-row {
    padding: 0 15px; font-size: 13px; color: red;
  }

  .commands {
    margin-top: 30px;

    .submit {
      border-radius: 3px; color: white; user-select: none;
      background-color: $orangeColor; cursor: pointer;
      transition: background-color 0.5s $cubicAnimation;
      padding: 14px 22px; display: inline-block;
      font-size: 15px;
      border: none; outline: none;
      float: right;

      &:hover {
        background-color: $themeColor;
      }
    }

    .social-button {
      display: inline-block; cursor: pointer;
      background-size: contain;
      background-position: center center;
      width: 46px; height: 46px; float: right;
      margin-left: 10px;
      background-color: gray;
      border-radius: 3px;

      &.facebook {
        background-image: url('images/fb.png');
      }

      &.google {
        background-image: url('images/gg.png');
      }
    }
  }

  @media screen and (max-width: 600px) {
     .close-command { display: block; }
    width: 100%; height: 600px;
    background-color: white;
  }
}

.subscription-form.floating {
  position: absolute; right: 2%; top: 50%;
  transform: translate(0, -50%);
  z-index: 1001;

  .close-command {
    display: none;
  }

  @media screen and (max-width: 600px) {
    margin: 0 auto; right: auto;
    left: 50%; transform: translate(-50%, -50%);
  }

  @media screen and (max-width: $burgerResolution) {
    display: none;
  }
}

.subscription-form.sidebar {
  box-shadow: none; width: auto;
  padding-top: 0; padding-bottom: 0;
  background-color: transparent;

  .close-command {
    display: none;
  }
}

.subscription-success {
  width: 300px; height: 300px;
  background-image: url('images/onoffonce.gif');
  background-size: 500px 375px;
  background-position: top 100% center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;

  .message {
    position: absolute; bottom: 0; right: 0; left: 0;
    height: 120px; font-size: 18px; color: white;
    text-align: center; padding: 0 20px;
  }
}