@import "../variables";
@import "../mixins";

.subscription-form {
  width: $subscriptionFormWidth;
  min-height: 300px; border-radius: 4px;
  background-color: white;
  padding: 25px 20px;
  @extend .clearfix;

  &.floating {
    position: relative;
    float: right; z-index: 1001;
    margin-right: 15px;
    margin-top: 20px;

    @media screen and (max-width: 600px) {
      float: none; margin: 0 auto;
      padding-top: 40px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .heading {
    font-size: 14px; color: $darkColor;
    text-align: center; line-height: 28px;
  }

  .strong {
    font-weight: bold; color: $orangeColor;

    &.ultra {
      font-size: 18px;
    }
  }

  input, textarea {
    border: none; border-bottom: dashed 1px gray; //border-radius: 3px;
    padding: 12px 16px; width: 100%;
    margin-top: 15px; font-size: 14px;
    box-sizing: border-box;
    resize: none;
  }

  .error-row {
    padding: 0 15px; font-size: 13px; color: red;
  }

  .commands {
    margin-top: 30px;

    .submit {
      border-radius: 3px; color: white; user-select: none;
      background-color: $orangeColor; cursor: pointer;
      transition: background-color 0.5s $cubicAnimation;
      padding: 14px 22px; display: inline-block;
      font-size: 15px;
      border: none; outline: none;
      float: right;

      &:hover {
        background-color: $themeColor;
      }
    }

    .social-button {
      display: inline-block; cursor: pointer;
      background-size: contain;
      background-position: center center;
      width: 46px; height: 46px; float: right;
      margin-left: 15px;
      background-color: gray;
      border-radius: 3px;

      &.facebook {
        background-image: url('images/fb.png');
      }

      &.google {
        background-image: url('images/gg.png');
      }
    }
  }
}