.under-slider{
//  height: $sliderHeight;
  position: absolute;
  background-color: #045694;
  background-size: cover;
  color: white;
 // top: 700px;
  left: 0; right: 0; bottom: 0;
  z-index: 2001;
  border: solid 1px #ededed;
  border-radius: 3px;
  margin: 0 auto;

  .under-logo {
    float: left; height: 40px; width: 180px;
    //margin-top: 40px;
    margin: 0 auto;
    background-image: url('images/underlogo2.png');
    background-size: contain; background-position: center center;
    background-repeat: no-repeat;


  }
  .contactunder-logo {
    float: right; height: 65px; width: 240px;
    margin-top: 12px;
   // margin: 0 auto;
    background-image: url('https://c1.staticflickr.com/9/8639/28047695643_6ed51293e7_o.png');
    background-size: contain; background-position: center center;
    background-repeat: no-repeat;


  }

  .active-slide {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 3000;
  }
}