@import "./variables";

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@keyframes page-transition {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, 30px);
  }

  80% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(0, 0);
  }
}