$navigationHeight: 70px;
$maxWidth: 1240px;
$burgerSize: 300px;

$themeColor: #191E40;
$sliderHeight: 500px;
$cubicAnimation: cubic-bezier(.31,1.11,.8,.95);
$bounceAnimation: cubic-bezier(0,1.14,.61,1.74);

$subscriptionFormWidth: 320px;
$orangeColor: #fa8322;
$darkColor: #404040;