body {
  background-color: #191919;
}

.navigation-wrapper {
  background-image: url("images/bg_header.png");

  .site-logo {
    background-image: url('images/logo_anphaland_new.png');
    width: 220px; height: 60px; margin-top: 5px;

    @media screen and (max-width: 600px) {
      width: 110px;
    }
  }

  .burger-menu-activator {
    color: #1b2859;
  }

  .subscription-activator {
    background-color: #1b2859;
  }

  .navigation-menu {
    .navigation-link {
      color: #1b2859;
      font-weight: 600;

      &:hover{
        background-color: #eebd0b;
      }

      &.active {
        background-color: #ddaf0a;
      }

      .sub-navigations {
        background-color: #eebd0b;
        border-top-color: #ddaf0a;

        .sub-link {
          &:hover {
            background-color: #ddaf0a;
          }
        }
      }
    }
  }
}

.light-heading .highlight {
    color: #1b2859;
}

.subscription-form {
  .heading {
    text-align: left;
    padding: 0px 16px;
    font-size: 16px;
  }

  .strong {
    color: #eebd0b;
  }
  .commands .submit {
    background-color: #eebd0b;
    &:hover {
      background-color: #ddaf0a;
    }
  }
}


.footer {
  background-color: #1b2859;

  .copyright {
    background-color: darken(#1b2859, 10);
  }
}