$themeColor: #191919;
$activeColor: #ef231a;
$hoverColor: #f24841;

body {
  background-color: $themeColor;
}

.section-heading{
  padding: 35px 10%;
}


.navigation-wrapper {
  background-color: #0d417b;

  .site-logo {
    background-image: url('images/logo2.png');
    width: 290px;
    height: 60px;
    margin-top: 2px;

    @media screen and (max-width: 600px) {
      width: 110px;
    }
  }

  .burger-menu-activator {
    color: #1b2859;
  }

  .subscription-activator {
    background-color: #ff8c00;
  }

  .navigation-menu {
    .navigation-link {
      color: #FFFFFF;
      font-weight: 600;

      &:hover {
        background-color: #002142;
        color: #dcba2c;
      }

      &.active {
        background-color: #0f6293;
      }

      .sub-navigations {
        background-color: #0a00a6;
        border-top-color: $activeColor;

        .sub-link {
          &:hover {
            background-color: $activeColor;
          }
        }
      }
    }
  }
}

.subscription-form {
  .heading {
    text-align: left;
    padding: 0px 16px;
  }

  .head {
    font-size: 20px;
  }

  .strong {
    color: $activeColor;
  }
  .commands .submit {
    background-color: $hoverColor;
    &:hover {
      background-color: $activeColor;
    }
  }
}

.sidebar-wrapper .sidebar-news .heading {
  color: #0a00a6;
  border-bottom: dashed 1px $activeColor;
}

.page-content.news .title {
  color: #0a00a6;
}

.bullets .bullet-item .bullet-heading:after {
  border-bottom: solid 3px $activeColor;
}

.light-heading .highlight {
  color: #0a00a6;
}

.footer {
  background-color: #0d417b;

  .copyright {
    background-color: darken(#1b2859, 10);
    padding: 10px 0;

    .light-row .column {
      margin: 0px;
      &:first-child {
        display: none;
      }
    }
  }
}