body {
  background-color: #191919;
}

.navigation-wrapper {
  background-color: #f7d13c;

  .site-logo {
    background-image: url('images/logo-M-One-Final.png');
    width: 220px; height: 60px; margin-top: 5px;

    @media screen and (max-width: 600px) {
      width: 85px;
    }
  }

  .subscription-activator {
    background-color: #da2900;
  }

  .navigation-menu {
    .navigation-link {
      color: white;
      &:hover{
        background-color: #f4b64b;
      }

      &.active {
        background-color: #f4b64b;
        color: white;
      }

      .sub-navigations {
        background-color: #f7d13c;
        border-top-color: #f4b64b;

        .sub-link {
          &:hover {
            background-color: #f4b64b;
          }
        }
      }
    }
  }
}

.footer {
  background-color:  #f7d13c;

  .copyright {
    background-color: darken(#191919, 10);
  }
}