body {
    background-color: #191919;
}

.navigation-wrapper {
  background-color: #fff;

  .site-logo {
    background-image: url('images/logo-toyota.png');
    width: 220px; height: 60px; margin-top: 5px;

    @media screen and (max-width: 600px) {
      width: 110px;
    }
  }

  .burger-menu-activator {
    color: #030200;
  }

  .subscription-activator {
    background-color: #ef231a;
  }

  .navigation-menu {
    .navigation-link {
      color: #1b2859;
      font-weight: 600;

      &:hover{
        background-color: #ef231a;
      }

      &.active {
        background-color: #ef231a;
      }

      .sub-navigations {
        background-color: #f24841;
        border-top-color: #ef231a;

        .sub-link {
          &:hover {
            background-color: #f24841;
          }
        }
      }
    }
  }
}

.light-heading .highlight {
  color: #ef231a;
}

.subscription-form {
  .heading {
    text-align: left;
    padding: 0px 16px;
    font-size: 16px;
  }

  .strong {
    color: #f24841;
  }
  .commands .submit {
    background-color: #f24841;
    &:hover {
      background-color: #ef231a;
    }
  }
}


.footer {
  background-color: #f24841;

  .copyright {
    background-color: darken(#1b2859, 10);
  }
}

.bullet-heading {
  &:after{
    border-bottom: solid 3px #0d3349;
  }
}

.section-heading {
  color: #ef231a; background-color: white;
}

.bullets .bullet-item .bullet-avatar {
  &:hover {
    transform: scale(1.1);
    &:before { border-color: #f24841; }
  }
}

.bullets .bullet-item .bullet-heading {
  &:after{
    border-bottom: solid 3px #ef231a;
  }
}

.navigation-wrapper .site-logo {

  float: left; height: 60px; width: 115px;
}
