body {
  background-color: #191919;
}

.navigation-wrapper {
  background-color: #01010d;

  .site-logo {
    background-image: url('images/logo-urv.png');
    width: 80px; height: 60px; margin-top: 5px;

    @media screen and (max-width: 600px) {
      width: 110px;
    }
  }

  .navigation-menu {
    .navigation-link {
      &:hover{
        background-color: lighten(#162E65, 5);
      }

      &.active {
        background-color: #162E65;
      }

      .sub-navigations {
        background-color: lighten(#162E65, 5);
        border-top-color: #162E65;

        .sub-link {
          &:hover {
            background-color: #162E65;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #01010d;

  .copyright {
    background-color: #0b0d1c;
  }
}

.light-heading .highlight {
  color: #2a4275;
}

.light-column:hover .title {
  color: #162E65;
}