<div class="page-content-section">
    <div class="content-wrapper">
        <div class="page-content news">

            <div class="single-news" ng-if="childproductCtrl.singleMode">
                <div ng-include="'template/home/productCateMenu.html'"></div>

                <div style="margin-top: 20px" class="title" ng-bind="childproductCtrl.activeNews.title"></div>
                <div class="timestamp">
                    <span>Cập nhật gần nhất: </span>
                    <span ng-bind="childproductCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>
                </div>
                <div class="news-details" ng-bind-html="childproductCtrl.activeNews.content | unsafe"></div>
            </div>

            <div class="all-news light-row" ng-if="!singleMode">
                <div class="column" ui-sref="fordFocus({alias: fordFocus.Post.alias})"
                     ng-repeat="childproduct in childproductCtrl.fordFocus">
                    <div class="title" ng-bind="childproduct.Post.title"></div>
                    <div class="timestamp">
                        <span>Cập nhật gần nhất: </span>
                        <span ng-bind="childproductCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>
                    </div>
                    <div class="summary" ng-bind-html="childproduct.Post.description | unsafe"></div>
                    <div class="thumb-image-wrapper">
                        <div class="image image-hover-effect-zoom-120"
                             ng-style="{'background-image': 'url('+childproduct.Post.image+')'}"></div>
                    </div>
                </div>
            </div>
        </div>

        <modal-one enable="childproductCtrl.modalOneActive">
            <subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
        </modal-one>

        <modal-one enable="childproductCtrl.modalTwoActive">
            <subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
        </modal-one>

        <modal-one enable="childproductCtrl.modalThreeActive">
            <modal modal="modal"></modal>
        </modal-one>


        <light-sidebar>
            <card></card>
            <div onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });" style="cursor: pointer; text-align: center"
                 ng-click="childproductCtrl.modalOneActive = true">
                <img src="https://c4.staticflickr.com/8/7596/28502136811_a6c99539f6_m.jpg"/>
            </div>

            <div><a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });"
                    style="cursor: pointer;text-align: center;display:block;"
                    ng-click="childproductCtrl.modalTwoActive = true">
                <img src="https://c6.staticflickr.com/9/8721/28502136821_67f209743d_m.jpg">
            </a>
            </div>
            <div>
                <a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Test Driver', 'eventAction': 'Click', 'eventLabel': 'Test driver' });"
                   style="cursor: pointer;text-align: center;display:block;"
                   ng-click="childproductCtrl.modalThreeActive = true">
                    <img src="https://c6.staticflickr.com/9/8116/27965018013_8380d8e875_m.jpg">
                </a>
            </div>
        </light-sidebar>
    </div>
</div>


<light-footer columns="appCtrl.footers"></light-footer>