<div class="page-content-section">
    <div class="content-wrapper">
        <div class="page-content news">
            <div class="single-news" ng-if="childproductCtrl.singleMode">
                <div ng-include="'template/home/productCateMenu.html'"></div>
                <div class="news-details" ng-bind-html="childproductCtrl.activeNews.content | unsafe"></div>
                <news-area>
                    <div class="light-heading section"><span class="highlight" ng-bind="$root.localization.productnews"></span></div>
                    <div class="light-row quatro">
                        <div class="column light-column click-able" ng-repeat="ran in childproductCtrl.allfordRan" ui-sref="fordRanger({alias: ran.Post.alias})">
                            <!--<div class="title" ng-bind="fordeco.Post.title"></div>-->
                            <div class="thumb-image-wrapper">
                                <div class="image" ng-style="{'background-image': 'url('+ran.Post.image+')'}" style="height:180px;"></div>
                            </div>
                            <div class="summary ng-binding" ng-bind-html="ran.Post.description | unsafe"></div>
                        </div>
                    </div>
                </news-area>
            </div>

            <div class="all-news light-row" ng-if="!singleMode">
                <div class="column" ui-sref="fordRanger({alias: ranger.Post.alias})" ng-repeat="ranger in childproductCtrl.allfordRanger">
                    <!--<div class="title" ng-bind="ranger.Post.title"></div>-->
                    <!--<div class="timestamp">-->
                        <!--<span>Cập nhật gần nhất: </span>-->
                        <!--<span ng-bind="childproductCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>-->
                    <!--</div>-->
                    <!--<div class="summary" ng-bind-html="ranger.Post.description | unsafe"></div>-->
                    <div class="thumb-image-wrapper">
                        <div class="image" ng-style="{'background-image': 'url('+ranger.Post.image+')'}" style="height:265px;"></div>
                    </div>
                    <div class=" image-hover-effect-zoom-120" style=" margin: 0 10%; padding: 10px; background: #0353ad; color: white; text-align: center; "><p ng-bind="ranger.Post.title" style="margin:0;"><span style="font-size: 18px; font-weight: normal; text-transform:uppercase;"></span></p></div>
                    <div class="summary ng-binding" ng-bind-html="ranger.Post.description | unsafe"></div>
                </div>
            </div>
            <!--<news-area>-->
            <!--<div class="content-wrapper">-->
            <!--<div class="light-heading section"><span class="highlight" ng-bind="$root.localization.productnews"></span></div>-->
            <!--<div class="light-row quatro">-->
            <!--<div class="column light-column click-able" ng-repeat="news in childproductCtrl.allfordEcosport" ui-sref="fordEcosport({alias: news.Post.alias})">-->
            <!--&lt;!&ndash;<div class="title" ng-bind="fordeco.Post.title"></div>&ndash;&gt;-->
            <!--<div class="thumb-image-wrapper">-->
            <!--<div class="image image-hover-effect-zoom-120" ng-style="{'background-image': 'url('+news.Post.image+')'}"></div>-->
            <!--</div>-->
            <!--<div class="description" ng-bind="news.Post.description"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</news-area>-->
        </div>

        <light-sidebar>
            <card></card>
            <div onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });" style="cursor: pointer; text-align: center" ng-click="childproductCtrl.modalOneActive = true">
                <img style="width: 100%" src="https://c1.staticflickr.com/9/8832/28566943501_2bc3b4acd0_o.png"/>
            </div>

            <div><a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Bang Gia', 'eventAction': 'Click', 'eventLabel': 'Bang Gia' });"
                    style="cursor: pointer;text-align: center;display:block;"
                    ng-click="childproductCtrl.modalTwoActive = true">
                <img style="width: 100%" src="https://c1.staticflickr.com/9/8894/28029234773_3804dd917b_o.png"/>
            </a>
            </div>
            <div>
                <a onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Test Driver', 'eventAction': 'Click', 'eventLabel': 'Test driver' });"
                   style="cursor: pointer;text-align: center;display:block;"
                   ng-click="childproductCtrl.modalThreeActive = true">
                    <img style="width: 100%" src="https://c1.staticflickr.com/9/8235/28361218900_f114fe58c8_o.png"/>
                </a>
            </div>
        </light-sidebar>
    </div>
</div>
<modal-one enable="childproductCtrl.modalOneActive">
    <subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
</modal-one>

<modal-one enable="childproductCtrl.modalTwoActive">
    <subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
</modal-one>

<modal-one enable="childproductCtrl.modalThreeActive">
    <modal modal="modal"></modal>
</modal-one>
<light-footer columns="appCtrl.footers"></light-footer>