<div class="page-content-section">
    <div class="content-wrapper">
        <div class="page-content news">
            <div class="single-news" ng-if="childproductCtrl.singleMode">
                <div ng-include="'template/home/productCateMenu.html'"></div>
                <div class="news-details" ng-bind-html="childproductCtrl.activeNews.content | unsafe"></div>
                <news-area>
                    <div class="light-heading section"><span class="highlight" ng-bind="$root.localization.productnews"></span></div>
                    <div class="light-row quatro">
                        <div class="column light-column click-able" ng-repeat="news in childproductCtrl.allfordEco" ui-sref="fordEcosport({alias: news.Post.alias})">
                            <!--<div class="title" ng-bind="fordeco.Post.title"></div>-->
                            <div class="thumb-image-wrapper">
                                <div class="image" ng-style="{'background-image': 'url('+news.Post.image+')'}" style="height:180px;"></div>
                            </div>
                            <div class="summary ng-binding" ng-bind-html="news.Post.description | unsafe"></div>
                        </div>
                    </div>
                </news-area>
            </div>
            <div ng-if="!childproductCtrl.singleMode">
                <!--Search: <input ng-model="searchText.$">-->
                <div class="all-news light-row">
                    <div class="column" ui-sref="fordEcosport({alias: news.Post.alias})" ng-repeat="news in childproductCtrl.allfordEcosport | filter:searchText">
                        <!--<div class="title" ng-bind="news.Post.title"></div>-->
                        <!--<div class="timestamp">-->
                        <!--<span>Cập nhật gần nhất: </span>-->
                        <!--<span ng-bind="childproductCtrl.activeNews.modified | niceDate: 'H:mm a, DD-MM-YYYY'"></span>-->
                        <!--</div>-->
                        <!--<div class="summary" ng-bind-html="news.Post.description | unsafe"></div>-->
                        <div class="thumb-image-wrapper">
                            <div class="image" ng-style="{'background-image': 'url('+news.Post.image+')'}" style="height:265px;"></div>
                        </div>
                        <div class=" image-hover-effect-zoom-120" style=" margin: 0 10%; padding: 10px; background: #0353ad; color: white; text-align: center; "><p ng-bind="news.Post.title" style="margin:0;"><span style="font-size: 18px; font-weight: normal; text-transform:uppercase;"></span></p></div>
                        <div class="summary ng-binding" ng-bind-html="news.Post.description | unsafe"></div>

                    </div>
                </div>
                <!--<news-area>-->
                <!--<div class="content-wrapper">-->
                <!--<div class="light-heading section"><span class="highlight" ng-bind="$root.localization.productnews"></span></div>-->
                <!--<div class="light-row quatro">-->
                <!--<div class="column light-column click-able" ng-repeat="news in childproductCtrl.allfordEcosport" ui-sref="fordEcosport({alias: news.Post.alias})">-->
                <!--&lt;!&ndash;<div class="title" ng-bind="fordeco.Post.title"></div>&ndash;&gt;-->
                <!--<div class="thumb-image-wrapper">-->
                <!--<div class="image image-hover-effect-zoom-120" ng-style="{'background-image': 'url('+news.Post.image+')'}"></div>-->
                <!--</div>-->
                <!--<div class="description" ng-bind="news.Post.description"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</news-area>-->
            </div></div>
        <light-sidebar>
            <card></card>
            <div style="cursor: pointer; text-align: center" ng-click="appCtrl.price();">
                <img style="width: 100%" src="https://c1.staticflickr.com/9/8832/28566943501_2bc3b4acd0_o.png"/>
            </div>

            <div><a style="cursor: pointer;text-align: center;display:block;"
                    ng-click="appCtrl.price2();">
                <img style="width: 100%" src="https://c1.staticflickr.com/9/8894/28029234773_3804dd917b_o.png"/>
            </a>
            </div>
            <div>
                <a style="cursor: pointer;text-align: center;display:block;"
                   ng-click="appCtrl.testdriver();">
                    <img style="width: 100%" src="https://c1.staticflickr.com/9/8235/28361218900_f114fe58c8_o.png"/>
                </a>
            </div>
        </light-sidebar>
    </div>
</div>
<a href="tel:0938110139"><div class="call icon-communication-call"></div></a>
<modal-one enable="appCtrl.modalOneActive">
    <subscription-form modal="modal" ng-if="!appCtrl.subscriptionPopup"></subscription-form>
</modal-one>

<modal-one enable="appCtrl.modalTwoActive">
    <modal2 modal="modal"></modal2>
</modal-one>

<modal-one enable="appCtrl.modalThreeActive">
    <modal modal="modal"></modal>
</modal-one>
<light-footer columns="appCtrl.footers"></light-footer>